<div class="heading">
	<h1>
	    Course Selection
	</h1>
</div>

<div class="well">
	<strong>Program Name :</strong> {{vm.programName}}<br>
	<strong>Program Code :</strong> {{vm.programCode}}
</div>

<!-- ============== Subject selection page ==============  -->
<div ng-show="!vm.isSubjectSelectionCompleted">
<form class="panel panel-body">
	
	<div class="col-sm-12 form-group">
		<div class="col-sm-3">
			<label for="mediumOfInstruction">Medium of Instruction</label>
		</div>
		<div class="col-sm-2">
			<input type="radio" id="marathi" name="mediumOfInstruction">Marathi
		</div>
		<div class="col-sm-2">
			<input type="radio" id="english" name="mediumOfInstruction">English
		</div>
	</div>
	<hr>

	<div class="col-sm-12 form-group">
		<b>Minimum 6 Course(s) & Maximum 6 Course(s) should be Selected</b>	
	</div>

	<hr><hr>

<!-- ============== Displaying subjects from data ==============  -->

	<!-- Level One -->
	<div class="panel panel-default" ng-repeat="cgLevelOne in vm.subjects.courseGroupLevelOneList">
		<div class="panel-body form-group">
			<h3> {{cgLevelOne.name}}
				<font color="red">Minimum:{{cgLevelOne.minSelection}}</font>
				<font color="green"> Maximum:{{cgLevelOne.maxSelection}} [If Applicable]</font>
			</h3>			
			
			<div class="clt">
				<!-- Level Two -->
				<ul ng-if="cgLevelOne.cgLevelTwoList.length > 0">
					<li ng-repeat="cgLevelTwo in cgLevelOne.cgLevelTwoList">
						<span class="badge badge-default" style="font-size:14px; padding:8px">{{cgLevelTwo.name}}</span>
						<font color="red" size="3">Select Minimum:{{cgLevelTwo.minSelection}}</font>
						<font color="green" size="3"> Maximum:{{cgLevelTwo.maxSelection}} [If Applicable]</font>
						
						<!-- Level Three -->
						<ul ng-if="cgLevelTwo.cgLevelThreeList.length > 0">
							<li ng-repeat="cgLevelThree in cgLevelTwo.cgLevelThreeList">
								<span class="badge badge-default" style="font-size:14px; padding:8px">{{cgLevelThree.name}}</span>
								<font color="red" size="3">Select Minimum:{{cgLevelThree.minSelection}}</font>
								<font color="green" size="3"> Maximum:{{cgLevelThree.maxSelection}} [If Applicable]</font>
								
								<!-- Level Four -->
								<ul ng-if="cgLevelThree.cgLevelFourList.length > 0">
									<li ng-repeat="cgLevelFour in cgLevelThree.cgLevelFourList">
										<span class="badge badge-default" style="font-size:14px; padding:8px">{{cgLevelFour.name}}</span>
										<font color="red" size="3">Select Minimum:{{cgLevelFour.minSelection}}</font>
										<font color="green" size="3"> Maximum:{{cgLevelFour.maxSelection}} [If Applicable]</font>
										
										<!-- Level Five -->
										<ul ng-if="cgLevelFour.cgLevelFiveList.length > 0">
											<li ng-repeat="cgLevelFive in cgLevelFour.cgLevelFiveList">
												<span class="badge badge-default" style="font-size:14px; padding:8px">{{cgLevelFive.name}}</span>
												<font color="red" size="3">Select Minimum:{{cgLevelFive.minSelection}}</font>
												<font color="green" size="3"> Maximum:{{cgLevelFive.maxSelection}} [If Applicable]</font>
												
												<ul ng-if="cgLevelFive.subjectList.length > 0">
													<li ng-repeat="subjectsLevelFive in cgLevelFive.subjectList">
														<input type="checkbox" name="compulsoryGroup"
														ng-model="subjectsLevelFive.subject.isSelected"
														ng-click="vm.checked(subjectsLevelFive.subject, cgLevelOne, cgLevelTwo, cgLevelThree, cgLevelFour, cgLevelFive"
														id="{{subjectsLevelFive.subject.universitySubjectId}}">
														[{{subjectsLevelFive.subject.universitySubjectCode}}] {{subjectsLevelFive.subject.universitySubjectName}}
													</li>
												</ul>
												
											</li>
										</ul>
										
										<ul ng-if="cgLevelFour.subjectList.length > 0">
											<li ng-repeat="subjectsLevelFour in cgLevelFour.subjectList">
												<input type="checkbox" name="compulsoryGroup"
												ng-model="subjectsLevelFour.subject.isSelected"
												ng-click="vm.checked(subjectsLevelFour.subject, cgLevelOne, cgLevelTwo, cgLevelThree, cgLevelFour, null)"
												id="{{subjectsLevelFour.subject.universitySubjectId}}">
												[{{subjectsLevelFour.subject.universitySubjectCode}}] {{subjectsLevelFour.subject.universitySubjectName}}
											</li>
										</ul>
									</li>
								</ul>
								<!-- Level Four End -->
								
								<ul ng-if="cgLevelThree.subjectList.length > 0">
									<li ng-repeat="subjectsLevelThree in cgLevelThree.subjectList">
										<input type="checkbox" name="compulsoryGroup"
										ng-model="subjectsLevelThree.subject.isSelected"
										ng-click="vm.checked(subjectsLevelThree.subject, cgLevelOne, cgLevelTwo, cgLevelThree, null, null)"
										id="{{subjectsLevelThree.subject.universitySubjectId}}">
										[{{subjectsLevelThree.subject.universitySubjectCode}}] {{subjectsLevelThree.subject.universitySubjectName}}
									</li>
								</ul>
							</li>
						</ul>						
						<!-- Level Three End -->
						
						<ul ng-if="cgLevelTwo.subjectList.length > 0">
							<li ng-repeat="subjectsLevelTwo in cgLevelTwo.subjectList">
								<input type="checkbox" name="compulsoryGroup"
								ng-model="subjectsLevelTwo.subject.isSelected"
								ng-click="vm.checked(subjectsLevelTwo.subject, cgLevelOne, cgLevelTwo, null, null, null)"
								id="{{subjectsLevelTwo.subject.universitySubjectId}}">
								[{{subjectsLevelTwo.subject.universitySubjectCode}}] {{subjectsLevelTwo.subject.universitySubjectName}}
							</li>
						</ul>
					</li>
				</ul>
				<!-- Level Two End -->
				
				<ul ng-if="cgLevelOne.subjectList.length > 0">
					<li ng-repeat="subjectsLevelOne in cgLevelOne.subjectList">
						<input type="checkbox" name="compulsoryGroup"
						ng-model="subjectsLevelOne.subject.isSelected"
						ng-click="vm.checked(subjectsLevelOne.subject, cgLevelOne, null, null, null, null)"
						id="{{subjectsLevelOne.subject.universitySubjectId}}"/>
						[{{subjectsLevelOne.subject.universitySubjectCode}}] {{subjectsLevelOne.subject.universitySubjectName}}
					</li>
				</ul>
			</div>
			
		</div>
	</div>
	<!-- Level One End -->
		
<!-- ===================================================================================== -->

	<div class="row" style="margin: 25px 0px 25px 0px;">
		<div class="col-sm-5"></div>
		<div class="col-sm-2">
        	<input type="button" 
        		   value="Proceed" 
        		   class="btn btn-success btn-block topMargin" 
        		   ng-click="vm.showSelectedSubjects(true)">
        </div>
		<div class="col-sm-5"></div>
	</div>

</form>
</div>

<!-- ============== Show selected subjects ==============  -->
<div ng-show="vm.isSubjectSelectionCompleted">
<form class="panel panel-body">
	<div class="panel panel-default">
		<div class="panel-body form-group">
			<div class="row">
				<div class="col-sm-6" ng-repeat="subject in ((vm.selectedSubjectList | orderObjectBy:'universitySubjectCode') | orderObjectBy:'sequenceNo')">
					{{subject.universitySubjectCode}} - {{subject.universitySubjectName}}
				</div>
			</div>
		</div>	
	</div>
	
	<div class="row" style="margin: 25px 0px 25px 0px;">
		<div class="col-sm-4"></div>
		<div class="col-sm-2">
        	<input type="button" 
        		   value="Back" 
        		   class="btn btn-success btn-block topMargin" 
        		   ng-click="vm.showSelectedSubjects(false)">
        </div>
		<div class="col-sm-2">
        	<input type="button" 
        		   value="Proceed" 
        		   class="btn btn-success btn-block topMargin" 
        		   ng-click="vm.applyForCourse()">
        </div>
		<div class="col-sm-4"></div>
	</div>
</form>
</div>