<form class="panel panel-default panel-body" name="hscdetailform" novalidate>
	<div class="group">
		<div class=" groupHeadingStyle">Board/University/School Details</div>
		<div class="group-body">
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="isLocalBody" class="group-label displayInline">Board : </label>
					<<span class="formData displayInline" ng-if="vm.qualificationDetail.isLocalBody == 1">
						Indian</span>
					<span class="formData displayInline" ng-if="vm.qualificationDetail.isLocalBody == 2">
						Foreign</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
						<label for="state" class="group-label displayInline">State : </label>
						<span class="formData displayInline">{{vm.qualificationDetail.state.stateName}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
						<label for="state" class="group-label displayInline">Board : </label>
						<span class="formData displayInline">{{vm.qualificationDetail.board.boardName}}</span>
				</div>
			</div>
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="country" class="group-label displayInline">Country : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.country.countryName}}</span>
					</div>
			</div>	
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_BoardUniversityName" class="group-label displayInline">Name of Board : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.foreignBody_BoardUniversityName}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_AreaStdCodePhone" class="group-label displayInline">Board Area STD Code - Phone : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.foreignBody_AreaStdCodePhone}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_EmailId" class="group-label displayInline">Board Email Id : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.foreignBody_EmailId}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_URL" class="group-label displayInline">Board URL : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.foreignBody_URL}}</span>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="stream" class="group-label displayInline">Stream : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.stream}}</span>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="schoolCollegeName" class="group-label displayInline">School/ College Name : </label>
					<span class="formData displayInline">{{vm.qualificationDetail.schoolCollegeName}}</spans>
				</div>
			</div>
		</div>
	</div>
	<div class="group">
		<div class=" groupHeadingStyle">Marksheet Details</div>
		<div class="group-body">
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="resultstatus" class="group-label">Result Status</label>
					<div class="formData">{{vm.qualificationDetail.resultStatus}}</div>
				</div>
				<div class="col-sm-3 form-group">
				<div ng-show="vm.qualificationDetail.resultStatus == 1 || vm.qualificationDetail.resultStatus == 3">
						<label for="noofattempts" class="group-label">No. of Attempts</label>
						<div class="formData">{{vm.qualificationDetail.noOfAttempts}}</div>
				</div>
				</div>
				<div class="col-sm-3 form-group">
					<label for="dateofresult" class="group-label">Date of Result</label>
					<div class="formData">{{vm.qualificationDetail.passingMonth}} / {{vm.qualificationDetail.passingYear}}</div>
				</div>
				<div class="col-sm-3 form-group">
					<label for="examSeatNo" class="group-label">Roll No/ Seat No</label>
					<div class="formData">{{vm.qualificationDetail.examSeatNo}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="marksheetNo" class="group-label">Marksheet No</label>
					<div class="formData">{{vm.qualificationDetail.marksheetNo}}</div>
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==1" >
					<div class="col-sm-3 form-group">
						<label for="marksObtain" class="group-label">Total Marks Obtained</label>
						<div class="formData">{{vm.qualificationDetail.marksObtain}}</div>
					</div>
					<div class="col-sm-3 form-group">
							<label for="totalMarks" class="group-label">Out of</label>
							<div class="formData">{{vm.qualificationDetail.totalMarks}}</div>
					</div>
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==2">
					<div class="col-sm-3 form-group">
						<label for="grade" class="group-label">Grade</label>
						<div class="formData">{{vm.qualificationDetail.grade}}</div>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="cgpa" class="group-label">CGPA</label>
						<div class="formData">{{vm.qualificationDetail.cgpa}}</div>
					</div>
				</div>
				
				<div class="col-sm-3 form-group">
					<label for="percentage" class="group-label">Percentage</label>
					<div class="formData">{{vm.qualificationDetail.percentage}}%</div>
				</div>
			</div>
		</div>
	</div>
</form>
<script type="text/javascript">
	
	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>