*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.gbc*

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Servers #
/Servers

# Other Files #
/RemoteSystemsTempFiles
.metadata/
.recommenders/
Web/target/
Web/.settings/
Data/.settings/
Data/target/
Data/.mvn/
