@media print
{
	.noprint {
		/* display:none; */
	}
	
	body * {
		visibility: hidden;
	}
	#section-to-print, #section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0mm;
		border-color: #ffffff;
	}
	
	#print-margin {
		margin: 10mm;
	}
}

@page { size: auto;  margin: 0mm; }