@media print
{
	.noprint {
		/* display:none; */
	}
	
	body * {
		visibility: hidden;
		font-size: 12px;
		font-family: serif !important;
	}
	#section-to-print, #section-to-print * {
		visibility: visible;
	}
	#section-to-print {
		position: absolute;
		left: 0;
		top: 0;
		margin: 0mm;
		border-color: #ffffff;
	}
	
	#print-margin {
		margin: 5mm;
	}
	
	Line spacing adjustment
	.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
	    line-height: 1;
	}
}

@page { size: auto;  margin: 0mm; }