<div class="heading">
	<h1>
       	Applied Student List
    </h1>
</div>

<div class="col-sm-12 table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr class="table-background">
			    <th></th>
			    <th>Form No.</th>
			    <th>Student Name</th>
			    <th>Category</th>
			    <th>Previous Examination Marke</th>
			    <th>View Profile</th>
			    <th>Detailed Profile</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-background">
			    <td><input type="checkbox" name="appliedStudents"></td>
			    <td>61531</td>
			    <td>Manali Suyog Nyati</td>
			    <td>Open</td>
			    <td>650/750</td>
			    <td><a class="glyphicon glyphicon-eye-open" role="button" data-container="body" data-toggle="popover"
			    		data-trigger="focus" title="Student Detail" 
			    		data-content="Manali Suyog Nyati fgfhgrhjrghjr yhrthjytj yrhyryhryu5y "></a></td>
			    <td>View</td>
			</tr>
		</tbody>
	</table>
</div>