<div class="heading">
	<h1>
       	SSC Details
    </h1>
</div>


<form name="sscdetailform" novalidate>
	<div class="group">
		<div class=" groupHeadingStyle">Board/University/School Details</div>
		<div class="group-body">
			<div class="row">
				<div class="col-sm-12">
				<div class="alert alert-danger" role="alert" ng-show="vm.returnstatus != null && !vm.returnstatus.success">
					<div class="formData displayInline">{{vm.returnstatus.errorMessage}}</div>
				</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="isLocalBody" class="labelclass displayInline">Board : </label>
						   <div class="formData displayInline">{{vm.qualificationDetail.isLocalBody}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
						<label for="state" class="labelclass displayInline">State : </label>
						<div class="formData displayInline">{{vm.qualificationDetail.stateId}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
						<label for="state" class="labelclass displayInline">Board : </label>
						<div class="formData displayInline">{{vm.qualificationDetail.boardId}}</div>
				</div>
			</div>
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="country" class="labelclass displayInline">Country : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.countryId}}</div>
					</div>
			</div>	
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_BoardUniversityName" class="labelclass displayInline">Name of Board : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.foreignBody_BoardUniversityName}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_AreaStdCodePhone" class="labelclass displayInline">Board Area STD Code - Phone : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.foreignBody_AreaStdCodePhone}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_EmailId" class="labelclass displayInline">Board Email Id : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.foreignBody_EmailId}}</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="foreignBody_URL" class="labelclass displayInline">Board URL : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.foreignBody_URL}}</div>
				</div>
			</div>
			</div>
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="schoolCollegeName" class="labelclass displayInline">School/ College Name : </label>
					<div class="formData displayInline">{{vm.qualificationDetail.schoolCollegeName}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="group">
		<div class=" groupHeadingStyle">Marksheet Details</div>
		<div class="group-body">
			<div class="row">
				<div class="col-sm-3 form-group">
					<label for="dateofresult" class="labelclass">Date of Result</label>
					<div class="formData">{{vm.qualificationDetail.passingMonth}} / {{vm.qualificationDetail.passingYear}}</div>
				</div>
				<div class="col-sm-3 form-group">
					<label for="examSeatNo" class="labelclass">Roll No/ Seat No</label>
					<div class="formData">{{vm.qualificationDetail.examSeatNo}}</div>
				</div>
				<div class="col-sm-3 form-group">
						<label for="noofattempts" class="labelclass">No. of Attempts</label>
						<div class="formData">{{vm.qualificationDetail.noOfAttempts}}</div>
				</div>
				<div class="col-sm-3 form-group">
					<label for="marksheetNo" class="labelclass">Marksheet No</label>
					<div class="formData">{{vm.qualificationDetail.marksheetNo}}</div>
				</div>
			</div>
			<div ng-show="vm.qualificationDetail.evaluationType==1">
			<div class="row">
				<div class="col-sm-3 form-group">
						<label for="marksObtain" class="labelclass">Total Marks Obtained</label>
						<div class="formData">{{vm.qualificationDetail.marksObtain}}</div>
				</div>
				<div class="col-sm-3 form-group">
						<label for="totalMarks" class="labelclass">Out of</label>
						<div class="formData">{{vm.qualificationDetail.totalMarks}}</div>
				</div>
				<div class="col-sm-3 form-group">
					<label for="percentage" class="labelclass">Percentage</label>
					<div class="formData">{{vm.qualificationDetail.percentage}}</div>
				</div>
				
				<div ng-show="vm.qualificationDetail.evaluationType==1" class="col-sm-3 labelalignmentmargin">
					<span class="formData">{{vm.qualificationDetail.percentage}} %</span>
				</div>
			</div>
			</div>	
			<div ng-show="vm.qualificationDetail.evaluationType==2">
			<div class="row">
				<div class="col-sm-3 form-group">
						<label for="grade" class="labelclass">Grade></label>
						<div class="formData">{{vm.qualificationDetail.grade}}</div>
					</div>
					
					<div class="col-sm-2 form-group">
						<label for="cgpa" class="labelclass">CGPA></label>
						<div class="formData">{{vm.qualificationDetail.cgpa}}</div>
					</div>
			</div>
			</div>
		</div>
	</div>	
</form>
		
<script type="text/javascript">
	$(".selectpicker").selectpicker("refresh");
</script>