<div class="heading">
	<h1>
	    Online Application
	</h1>
</div>
<div class="col-sm-12">

	<div ng-repeat="category in vm.categories">
		<div class="well alert-danger col-sm-6" style="width:300px; height:150px; text-align:center; margin:30px; padding:20px">
			<strong>{{category.programCategoryName}} </strong>
			<br><br>
			<span class="">
			  	<input type="button" 
			  		   value="Apply" 
			  		   class="btn btn-success btn-block topMargin"
			  		   ng-click="vm.applyForGraduation(category.programCategoryId)">
		   </span>
		</div>
	</div>
</div>


<script type="text/javascript">
	setActiveElementOnLeftNav("applyOnline");
	//To reload selectpicker on page load
	$(".selectpicker").selectpicker("refresh");
</script>