<div class="heading">
	<h1>
	    Apply Courses
	</h1>
</div>
<br>
<div class="col-sm-12">
	<div class="table-responsive">
		<div class="col-sm-12">
			<table class="table table-striped table-bordered">
	               <thead>
	                   <tr class="table-background">
	                       <th width="10%">Subject Code</th>
	                       <th width="30%">Subject Name</th>
	                       <th width="12%">Select</th>
	                   </tr>
	               </thead>
	               <tbody>
	               		<!-- <tr ng-repeat="bachelorCourse in vm.bachelorcourses">
	               			<td>{{bachelorCourse.programCode}}</td>
	                       	<td>{{bachelorCourse.programName}}</td>
	                       	<td>{{bachelorCourse.facultyOrCollege}}</td>
	                       	<td>{{bachelorCourse.applicationDates}}</td>
	                       	<td><input type="button" value="Apply" class="btn btn-success btn-block topMargin" 
        		   					   ng-click="vm.applyCourse()"></td>
	               		</tr> -->
	               </tbody>
	        </table>
		</div>
	</div>
</div>