<div class="heading">
	<h1>
	    Apply Courses
	</h1>
</div>
<br>
<div class="col-sm-12">
	<div class="table-responsive">
		<div class="col-sm-12">
			<table class="table table-striped table-bordered">
	               <thead>
	                   <tr class="table-background">
	                       <th width="10%">Subject Code</th>
	                       <th width="30%">Subject Name</th>
	                       <th width="12%">Select</th>
	                   </tr>
	               </thead>
	               <tbody>
	               		 <tr ng-repeat="subject in vm.subjects">
	               			<td>{{subject.subjectCode}}</td>
	                       	<td>{{subject.subjectName}}</td>
	                       	<td><input type="checkbox"></td>
	               		 </tr>
	               </tbody>
	        </table>
		</div>
	</div>
</div>