<div class="heading">
	<h1>
       	Program List
    </h1>
</div>

<div class="col-sm-12 table-responsive">
	<table class="table table-striped table-bordered">
		<thead>
			<tr class="table-background">
			    <th width="10%">Program Code.</th>
			    <th width="30%">Program Name</th>
			    <th width="10%">No. of Students Applied</th>
			    <th width="10%">View Applied Students</th>
			</tr>
		</thead>
		<tbody>
			<tr class="table-background">
			    <td>34</td>
			    <td>B.Sc.(Comp. Science)</td>
			    <td>150</td>
			    <td><a class="glyphicon glyphicon-eye-open" data-trigger="focus" 
			    		ng-click="vm.appliedStudents()"></a></td>
			</tr>
		</tbody>
	</table>
</div>