<div class="heading">
	<h1>
       	Applicant's Details
    </h1>
</div>


<div class="row no-margin">
	<div class="col-sm-3 subNav">
	<ul>
	<li id="personal" class='current'><a><span class="glyphicon glyphicon-user"></span> Personal Details</a></li>
	<li id="contact"><a><span class="glyphicon glyphicon-envelope"></span> Contact Details</a></li>
	<li id="nationality"><a><span class="glyphicon glyphicon-globe"></span> Nationality Details</a></li>
	<li id="occupation"><a><span class="glyphicon glyphicon-wrench"></span> Occupation Details</a></li>
	<li id="reservation"><a><span class="glyphicon glyphicon-lock"></span> Reservation(Caste) Details</a></li>
	</ul>
	</div>
	
	<div class="col-sm-9 no-padding">
	
<form name="personaldetailform" novalidate>

	<div class="group">
		<!-- <div class=" groupHeadingStyle"><span class="glyphicon glyphicon-user"></span> Personal Details</div> -->
		<div class="group-body">
			<div class="row">
				<div class="col-sm-9 form-group applicantDetaailList">
					<div class="row">
						<div class="col-sm-4 dataSpacing">
							<label class="group-label">Full Name</label>
						</div>
						<div class="col-sm-8 dataSpacing">
						 	<div class="formData">{{vm.applicantdetail.lastName}} {{vm.applicantdetail.firstName}} {{vm.applicantdetail.middleName}}</div>
						</div>
					</div>
					<div class="row">
					<div class="col-sm-4 dataSpacing">
							<label class="group-label">Full Name in Regional Language</label>
						</div>
						<div class="col-sm-8 dataSpacing">
						   <div class="formData">{{vm.applicantdetail.lastName}} {{vm.applicantdetail.firstName}} {{vm.applicantdetail.middleName}}</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-4 dataSpacing">
							<label class="group-label">Father's Full Name</label>
						</div>
						<div class="col-sm-8 dataSpacing">
							   <div class="formData">{{vm.applicantdetail.fathersLastName}} {{vm.applicantdetail.fathersFirstName}} {{vm.applicantdetail.fathersMiddleName}}</div>
						</div>
					</div>
					<div class='row'>
						<div class="col-sm-4 dataSpacing">
							<label for="mothersname"
							   class="group-label">Mother's Full Name</label>
						</div>
						 <div class="col-sm-8 dataSpacing">
							   <div class="formData">{{vm.applicantdetail.mothersLastName}} {{vm.applicantdetail.mothersFirstName}} {{vm.applicantdetail.mothersMiddleName}}</div>
						</div>
					</div>
					<div class="row">
							<div class="col-sm-3 dataSpacing">
								<label for="gender"
									   class="group-label">Gender</label>
									  <div class="formData">{{vm.applicantdetail.gender}}</div>
							</div>
							<div class="col-sm-3 dataSpacing">
								<label for="maritalstatus"
									   class="group-label">Marital Status</label>
									   <div class="formData">{{vm.applicantdetail.maritalStatus}}</div>
							</div>
							<div class="col-sm-3 dataSpacing">
								<label for="bloodgroup"
									   class="group-label">Blood Group</label>
									   <div class="formData">{{vm.applicantdetail.bloodGroup}}</div>
							</div>
							<div class="col-sm-3 dataSpacing">
								<label for="dateofbirth"
								   class="group-label">Date of Birth</label>
								   <div class="formData">{{vm.applicantdetail.birthDate}}</div>
							</div>
					</div>
					<div class="row">
							<div class="col-sm-3">
								<label for="placeofbirth"
									   class="group-label">Place of Birth</label>
									   <div class="formData">{{vm.applicantdetail.placeOfBirth}}</div>
							</div>
							<div class="col-sm-3">
								<label for="aadharno"
									   class="group-label">Aadhar No.</label>
									   <div class="formData">{{vm.applicantdetail.adharNo}}</div>
							</div>
							<div class="col-sm-6">
								<label for="educationgap"
									   class="group-label">Education Gap (in yrs)</label>
									   <div class="formData">{{vm.applicantdetail.educationGap}}</div>
							</div>
							
					</div>
					
				</div>
			
				<div class="col-sm-3">
					<div class="row">
						<div  class="col-sm-12 text-center"  style=" padding-bottom:10px;">
							<label class="group-label">Photograph</label>
							<div style="width:100px; height:100px;background-color:#ccc; margin:0 auto"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-12 text-center"  style="padding-bottom:10px;">
							<label class="group-label">Signature</label>
							<div style="width:100px; height:100px;background-color:#ccc; margin:0 auto"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class='group'>
		<div class="groupHeadingStyle"><span class="glyphicon glyphicon-envelope"></span> Contact Details</div>
					<div class="group-body">
						<div class="row">
								<div class="col-sm-6">
									<label class="group-label">Mobile Number</label>
									<div class="formData">{{vm.applicantdetail.mobileNo}}</div>
								</div>
							
								<div class="col-sm-6">
									<label for="email"  class="group-label">Email Address</label>
									<div class="formData">{{vm.applicantdetail.email}}</div>
								</div>
						</div>	
						<div class="row">
							<div class="col-sm-6 dataPadding">
									<label for="parentsemail"
							   class="group-label">Parent's Email Id</label>
							   <div class="formData">{{vm.applicantdetail.parentsEmailId}}</div>
							</div>
							<div class="col-sm-6">
									<label for="parentscontact"
							   class="group-label">Parent's Contact No.</label>
							   		<div class="formData">{{vm.applicantdetail.parentsContactNo}}</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
									<label class="group-label">Correspondence Address</label>
									<div class="formData">{{vm.applicantdetail.flatNo}}, {{vm.applicantdetail.area}}</div>
									<div class="formData">{{vm.applicantdetail.street}}, {{vm.applicantdetail.landmark}}</div>
									<div class="formData">{{vm.applicantdetail.city}}, District :{{vm.applicantdetail.district}}</div>
									<div class="formData">{{vm.applicantdetail.state.stateName}}, {{vm.applicantdetail.country.countryName}}</div>
									<div class="formData">{{vm.applicantdetail.pinCode}}</div>
									<div class="formData">{{vm.applicantdetail.locationarea}}</div>
							</div>
							
							<div class="col-sm-6">
							<label for="email"  class="group-label">Permanent Address</label>
							<div class="formData">{{vm.applicantdetail.flatNoPermanent}}, {{vm.applicantdetail.areaPermanent}}</div>
									<div class="formData">{{vm.applicantdetail.streetPermanent}}, {{vm.applicantdetail.landmarkPermanent}}</div>
									<div class="formData">{{vm.applicantdetail.cityPermanent}}, District :{{vm.applicantdetail.districtPermanent}}</div>
									<div class="formData">{{vm.applicantdetail.statePermanent.stateName}}, {{vm.applicantdetail.countryPermanent.countryName}}</div>
									<div class="formData">{{vm.applicantdetail.pinCodePermanent}}</div>
									<div class="formData">{{vm.applicantdetail.locationareaPermanent}}</div>
							</div>
						</div>	
		 			</div>
	</div>
	<div class="group">
		<div class="groupHeadingStyle"><span class="glyphicon glyphicon-globe"></span> Nationality Details</div>
		<div class="group-body">
			<div ng-show="vm.indianCitizenship">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="citizenship"
								   class="group-label">Country of Citizenship</label>
								   <div class="formData">{{vm.applicantdetail.countryOfCitizenship.countryName}}</div>
						</div>
						<div class="col-sm-3">
							<label for="domiciled"
								   class="group-label">Domicile of State</label>
								   <div class="formData">{{vm.applicantdetail.domiciledIn.stateName}}</div>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="!vm.indianCitizenship">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-6">
							<label for="citizenship"
								   class="group-label">Country of Citizenship</label>
								   <div class="formData">{{vm.applicantdetail.countryOfCitizenship.countryName}}</div>
						</div>
					</div>
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="passportno"
								   class="group-label">Passport No.</label>
								   <div class="formData">{{vm.applicantdetail.passportNo}}</div>
						</div>
						<div class="col-sm-3">
							<label for="placeofissue"
								   class="group-label">Place of Issue of Passport</label>
								   <div class="formData">{{vm.applicantdetail.passportIssuePlace}}</div>
						</div>
						<div class="col-sm-3">
							<label for="dateofissue"
								   class="group-label">Date of Issue of Passport</label>
								   <div class="formData">{{vm.applicantdetail.passportIssueDate}}</div>
						</div>	
						<div class="col-sm-3">
							<label for="dateofexpiry"
								   class="group-label">Date of Expiry of Passport</label>
								   <div class="formData">{{vm.applicantdetail.passportExpiryDate}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="issuingauthority"
								   class="group-label">Passport Issuing Authority</label>
								   <div class="formData">{{vm.applicantdetail.passportIssuingAuthority}}</div>
						</div>
						<div class="col-sm-3">
							<label for="issuingcountry"
								   class="group-label">Passport Issuing Country</label>
								   <div class="formData">{{vm.personalDetailTemp.passportIssuingCountryId}}</div>
						</div>
						<div class="col-sm-3">
							<label for="visatype"
								   class="group-label">Visa Type</label>
								   <div class="formData">{{vm.applicantdetail.visaType}}</div>
						</div>
						<div class="col-sm-3">
							<label for="visavalidupto"
								   class="group-label">Visa Valid Upto</label>
									<div class="formData">{{vm.applicantdetail.visaValidUpto}}</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="visasponsoringagency"
								   class="group-label">Visa Sponsoring Agency</label>
								   <div class="formData">{{vm.applicantdetail.visaSponsoringAgency}}</div>
						</div>
						<div class="col-sm-3">
							<label for="residentialpermitno"
								   class="group-label">Residential Permit No.</label>
								   <div class="formData">{{vm.applicantdetail.residentialPermitNo}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="group">
		<div class="groupHeadingStyle"><span class="glyphicon glyphicon-wrench"></span> Occupation Details</div>
		<div class="group-body">
				<div class="row">
					<div class="col-sm-12 form-group">
					<label class="group-label displayInline">Employed or Self-Employed :</label>
					<div class="displayInline formData" ng-show="vm.applicantdetail.isSelfEmployed">Yes</div>
					<div class="displayInline formData" ng-show="!vm.applicantdetail.isSelfEmployed">No</div>
					</div>
				</div>
			
			<div ng-show="vm.applicantdetail.isSelfEmployed">
				<div class="row">
					<div class="col-sm-12 form-group">
							<label for="experience" class="group-label displayInline">Experience : </label>
							<div class="formData displayInline">{{vm.applicantdetail.experienceYrs}}
							<label for="experience" class="displayInline"> Year(s) </label>
							</div>
							<div class="formData displayInline">{{vm.applicantdetail.experienceMonths}} 
							<label for="experience" class="displayInline"> Months </label>
							</div>
					</div>
				</div>
			</div>
				
				<div class="row">
						<div class="col-sm-3 form-group">
							<label for="selfoccupation" class="group-label displayInline">Occupation : </label>
							<div class="formData displayInline"> {{vm.applicantdetail.occupation}}</div>
						</div>
						<div class="col-sm-9 form-group">
							<label for="selfincome"
								   class="group-label displayInline">Your Annual Income : </label>
								   <div class="formData displayInline">Rs. {{vm.applicantdetail.selfAnnualIncome}}</div>
						</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<label for="leavewithoutpay" class="group-label displayInline">Applied for leave without pay for the entire duration of the course : 
							<div class="formData displayInline" ng-show="vm.applicantdetail.isLeaveWithoutPay">Yes</div>
							<div class="formData displayInline" ng-show="!vm.applicantdetail.isLeaveWithoutPay">No</div>
						</label>
					</div>
				</div>
			
			
			<div ng-show="!vm.applicantdetail.isSelfEmployed">
				<div class="row">
					<div class="col-sm-6 form-group">
							<label for="parentsoccupation" class="group-label displayInline">Occupation of Guardian : </label>
							<div class="formData displayInline">{{vm.applicantdetail.occupation}}</div>
					</div>
					<div class="col-sm-2 form-group">
							<label for="parentsincome" class="group-label">Annual Income of Guardian</label>
							<div class="formData displayInline">{{vm.applicantdetail.guardianAnnualIncome}}</div>
					</div>
				</div>
			</div>
				
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<label for="ebc" class="group-label displayInline">Eligible for EBC (Economic Backward Class) : </label>
						<div class="formData displayInline" ng-show="vm.applicantdetail.isEligibleForEBC">Yes</div>
						<div class="formData displayInline" ng-show="!vm.applicantdetail.isEligibleForEBC">No</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12">
			       	<div class="well alert-danger">
			           <span>
			           Students whose family income is below defined limit, fall under EBC category. 
			           The EBC certificate issued by the competent authority is mandatory.
			           </span>
			    	</div>
			    </div>
			</div>
		</div>
	</div>
	
	<div class="group">
		<div class="groupHeadingStyle"><span class="glyphicon glyphicon-lock"></span> Reservation(Caste) Details</div>
		<div class="group-body">
				<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="category"
							   class="group-label">Category</label>
							   <div class="formData">{{vm.applicantdetail.category}}</div>
					</div>
					<div class="col-sm-3">
						<label for="religion"
							   class="group-label">Religion</label>
							   <div class="formData">{{vm.applicantdetail.religion}}</div>
					</div>
					<div class="col-sm-3">
						<label for="caste"
							   class="group-label">Caste</label>
							   <div class="formData">{{vm.applicantdetail.caste}}</div>
					</div>
					<div class="col-sm-3">
						<label for="mothertongue"
							   class="group-label">Mother Tongue</label>
							   <div class="formData">{{vm.applicantdetail.motherTongue}}</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
						<label for="speciallyabled"
							   class="group-label">Specially Abled</label>
							  <div class="formData">{{vm.applicantdetail.speciallyAbled}}</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
						<label for="socialreservation"
							   class="group-label">Social Reservation</label>
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation1"
							   value="1"
							   tabindex="15">
						<label for="socialreservation1">Ex-Serviceman/Ward of Ex-Serviceman</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation4"
							   value="2"
							   tabindex="16">
						<label for="socialreservation4">Ward of Primary Teacher</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation2"
							   value="3"
							   tabindex="17">
						<label for="socialreservation2">Active Serviceman/Ward of Active Serviceman</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation5"
							   value="4"
							   tabindex="18">
						<label for="socialreservation5">Ward of Secondary Teacher</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation3"
							   value="5"
							   tabindex="19">
						<label for="socialreservation3">Freedom Fighter/Ward of Freedom Fighter</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation6"
							   value="6"
							   tabindex="20">
						<label for="socialreservation6">Deserted/Divorced/Widowed Women</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation7"
							   value="7"
							   tabindex="21">
						<label for="socialreservation7">Member of Project Affected Family</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation8"
							   value="8"
							   tabindex="22">
						<label for="socialreservation8">Member of Earthquake Affected Family</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation9"
							   value="9"
							   tabindex="23">
						<label for="socialreservation9">Member of Flood/Famine Affected Family</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation10"
							   value="10"
							   tabindex="24">
						<label for="socialreservation10">Resident of Tribal Area</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation12"
							   value="11"
							   tabindex="25">
						<label for="socialreservation12">Resident of Disputed Boundary Area</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation11"
							   value="12"
							   tabindex="26">
						<label for="socialreservation11">Kashmir Migrant</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation13"
							   value="13"
							   tabindex="27">
						<label for="socialreservation13">Below Poverty Line Student</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation14"
							   value="14"
							   tabindex="28">
						<label for="socialreservation14">Teacher in 'Innovative School'</label>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-6">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation16"
							   value="15"
							   tabindex="29">
						<label for="socialreservation16">Ward of Transferred Central/State Government Employee</label>
					</div>
					<div class="col-sm-4">
						<input type="checkbox"
							   name="socialreservation"
							   id="socialreservation15"
							   value="16"
							   tabindex="30">
						<label for="socialreservation15">University Staff Quota</label>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</form>
</div>
</div>



<script type="text/javascript">
	setActiveElementOnLeftNav("personalDetail");
	//To reload selectpicker on page load
	$(".selectpicker").selectpicker("refresh");
	function setActiveElementOnSubNav(id) {
		var activeelement = $("#" + id);
		if (!activeelement.hasClass('current')) {
			$('.subNav ul li').removeClass('current');
			activeelement.addClass('current');
		}
	}
	$(document).ready(function(){
	 $('.subNav ul li a').click(function(e) {
	        var $parent = $(this).parent();
	        setActiveElementOnSubNav($parent.attr('id'));
	    });
	});
</script>