<div class="heading">
	<h1>
	    Course Selection
	</h1>
</div>

<div class="well">
	<strong>Program Name :</strong> {{vm.programName}}<br>
	<strong>Program Code :</strong> {{vm.programCode}}
</div>

<form class="panel panel-body">
	
	<div class="col-sm-12 form-group">
		<div class="col-sm-3">
			<label for="mediumOfInstruction">Medium of Instruction</label>
		</div>
		<div class="col-sm-2">
			<input type="radio" id="english" name="mediumOfInstruction">English
		</div>
	</div>
	<hr>

	<div class="col-sm-12 form-group">
		<b>Minimum 7 Course(s) & Maximum 10 Course(s) should be Selected</b>	
	</div>

	<hr><hr>
	
	<div class="panel panel-default">
		<div class="panel-body form-group">
			<h3> Foundation Course Group
				<font color="red">Minimum:1</font>
				<font color="green"> Maximum:1 [If Applicable]</font>
			</h3>
			<div class="clt">
				<ul>
					<li><input type="checkbox" name="foundationCourseGroup" id="foundationCourseGroup1"> [Code] Foundation Course in NSS-I</li>
					<li><input type="checkbox" name="foundationCourseGroup" id="foundationCourseGroup2"> [Code] Foundation Course in Physical Education-I</li>
					<li><input type="checkbox" name="foundationCourseGroup" id="foundationCourseGroup3"> [Code] Foundation Course - I</li>
					<li><input type="checkbox" name="foundationCourseGroup" id="foundationCourseGroup4"> [Code] Foundation Course in NCC-I</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
			<h3> Optional Group (Select Any 3 Subjects From The Following Group)
				<font color="red">Minimum:3</font>
				<font color="green"> Maximum:3 [If Applicable]</font>
			</h3>
			<div class="clt">
			<ul>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Actuarial Science</span>
					<font color="red" size="3">Select Minimum:2</font>
					<font color="green" size="3"> Maximum:2 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup1">[Code] Paper I Elementary Numerical Analysis</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup2">[Code] Paper II Compound Interest</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biochemistry</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup3">[Code] Paper I Biomolecules & Physico-Chemical Principles</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup4">[Code] Paper II Cytology, Human Genetics, Microbiology & Physiology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup5">[Code] Biochemistry Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biotechnology</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup6">[Code] Paper I Microbiology, Genetics, Microbial Diversity and Functional Biology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup7">[Code] Paper II Cell Biology, Biomolecules and Medical Biotechnology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup8">[Code] Biotechnology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Botany</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup9">[Code]  Paper I Plant Diversity I</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup10">[Code] Paper II Form and Function I</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup11">[Code] Botany Practicals</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Chemistry</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup12">[Code] Paper I Physical and Inorganic Chemistry</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup13">[Code] Paper II Organic and Inorganic Chemistry</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup14">[Code] Chemistry Practicals</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Computer Science</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup15">[Code] Paper I Computer Organization : Introduction to Microprocessors and Computer Architecture</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup16">[Code] Paper II Algorithms and Programming in 'C'</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup17">[Code] Computer Science Practicals</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Economics</span>
					<font color="red" size="3">Select Minimum:2</font>
					<font color="green" size="3"> Maximum:2 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup18">[Code] Paper I Economics Theory</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup19">[Code] Paper II Economics Theory</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Electronics</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup20">[Code] Paper I Semiconductor Devices and D.C. Circuits</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup21">[Code] Paper II Basic Digital Electronics and Introduction to Computer and Basic</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup22">[Code] Electronics Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Geography</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup23">[Code] Paper I Introduction to Geography</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup24">[Code] Paper II Fundamentals of Human Geography</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup25">[Code] Geography Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Geology</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup26">[Code] Paper I Introduction to Geology I (Mineralogy, Crystallography and Stratigraphy)</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup27">[Code] Paper II Introduction to Geology II (Study of Earth, Atmospheric Circulation, Structural Geology)</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup28">[Code] Geology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Life Sciences</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup29">[Code] Paper I Life Sciences at the Cellular Level</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup30">[Code] Paper II Life Sciences at the Organismic Level</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup31">[Code] Life Sciences Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Mathematics</span>
					<font color="red" size="3">Select Minimum:2</font>
					<font color="green" size="3"> Maximum:2 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup32">[Code] Paper I Calculus and Analytics Geometry I</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup33">[Code] Paper II Discrete Mathematics I</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Microbiology</span>
					<font color="red" size="3">Select Minimum:3</font>
					<font color="green" size="3"> Maximum:3 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup34">[Code] Paper I Fundamentals of Microbiology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup35">[Code] Paper II Applied Microbiology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup36">[Code] Microbiology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biochemistry</span>
					<font color="red" size="3">Select Minimum:1</font>
					<font color="green" size="3"> Maximum:1 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup3">[Code] Paper I Microbiology, Genetics, Microbial Diversity and Functional Biology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup4">[Code] Paper II Cell Biology, Biomolecules and Medical Biotechnology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup5">[Code] Biotechnology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biochemistry</span>
					<font color="red" size="3">Select Minimum:1</font>
					<font color="green" size="3"> Maximum:1 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup3">[Code] Paper I Microbiology, Genetics, Microbial Diversity and Functional Biology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup4">[Code] Paper II Cell Biology, Biomolecules and Medical Biotechnology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup5">[Code] Biotechnology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biochemistry</span>
					<font color="red" size="3">Select Minimum:1</font>
					<font color="green" size="3"> Maximum:1 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup3">[Code] Paper I Microbiology, Genetics, Microbial Diversity and Functional Biology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup4">[Code] Paper II Cell Biology, Biomolecules and Medical Biotechnology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup5">[Code] Biotechnology Practical</li>
					</ul>
				</li>
				<li> <span class="badge badge-default" style="font-size:14px; padding:8px">Biochemistry</span>
					<font color="red" size="3">Select Minimum:1</font>
					<font color="green" size="3"> Maximum:1 [If Applicable]</font>
					<ul>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup3">[Code] Paper I Microbiology, Genetics, Microbial Diversity and Functional Biology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup4">[Code] Paper II Cell Biology, Biomolecules and Medical Biotechnology</li>
						<li><input type="checkbox" name="optionalGroup" id="optionalGroup5">[Code] Biotechnology Practical</li>
					</ul>
				</li>
						
					
				
			</ul>
			</div>
		</div>
	</div>
	
	<!-- <div class="panel panel-default">
		<div class="panel-body">
			<h3> Optional Group
				<font color="red">Minimum:3</font>
				<font color="green"> Maximum:3 [If Applicable]</font>
			</h3>
			<div class="clt">
				<ul>
					<li ng-repeat="subject in vm.subjects"><input type="checkbox" name="optionalGroup" id="{{subject.subjectId}}"> [{{subject.subjectCode}}] {{subject.subjectName}}</li>
				</ul>
			</div>
		</div>
	</div> -->

</form>










<!-- <br>
<div class="col-sm-12">
	<div class="table-responsive">
		<div class="col-sm-12">
			<table class="table table-striped table-bordered">
	               <thead>
	                   <tr class="table-background">
	                       <th width="10%">Subject Code</th>
	                       <th width="30%">Subject Name</th>
	                       <th width="12%">Select</th>
	                   </tr>
	               </thead>
	               <tbody>
	               		 <tr ng-repeat="subject in vm.subjects">
	               			<td>{{subject.subjectCode}}</td>
	                       	<td>{{subject.subjectName}}</td>
	                       	<td><input type="checkbox"></td>
	               		 </tr>
	               </tbody>
	        </table>
		</div>
	</div>
</div> -->