@charset "utf-8";
/* CSS Document */

body {
	margin:0;
	position:relative;
}

.customfont > li > a {
	color : #becfe0;
}

.col-sm-custompadding {
	padding-right:0px!important;
	padding-left:0px!important;
	border-radius:0 !important;
}
.no-padding {
	padding: 0;
}

.no-margin {
	margin: 0;
}

.clearBoth {
	clear: both;
}

header {
	background: #2c4d6b;
	background: linear-gradient(#2c4d6b, #181f29);
	/* For Safari 5.1 to 6.0 */
	color: #fff;
	font-size: 120%;
	font-weight: bold;
	padding: 0.2em 0 0.2em 1em;
}

header img {
	margin: 0 2% 0 0;
}
header img.logo{
	width:10%;
} 
.headernav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

.headernav li {
	float: left;
	display: block;
}

.headernav ul li a {
	display: block;
	padding: 20px 20px 0 0;
	font-size: 80%;
	font-weight: normal;
	color: #fff;
}

.headernav .active {
	/* border-bottom: #75c0e0 2px dashed; */
	color: #75c0e0;
}

.headernav ul li a.logout {
	padding: 0;
	font-size: 100%;
	color:#75c0e0;
}

.headercontent {
	padding:20px 0 0 0px;
	color:#00a0d3;
}

.footer {
	height: 50px;
	width: 100%;
	background: #495B6C;
	bottom: 0;
}

.fixed-bar {
	position: fixed;
}

.heading {
	border-bottom: #3e556b 1px solid;
	padding: 0 2%;
}

.heading h1 {
	padding:18px;
	color: #185086;
	font-family: sans-serif;
	font-size: 18pt;
	font-weight: lighter;
	background-color:#FFFFFF;
	box-sizing:border-box;
	margin:0;
}

.profileBorder{
	padding: 0.7em 0;
	border-left: #999 1px solid;
}
	
.labelalignmentmargin {
	margin-top: 7px;
}

.labelclass{
	padding-top:7px;
	width:100%;
}

.input-group {
	padding-left:10px;
}

.row-custom-margin {
	margin-right:0!important;
}

nav {
	position: relative;
	width: 100%;
	background: #fff;
}

.nav-stacked>li {
	padding: 0 0 0 20px;
}

.main{
	background-color:#495b6c;
	width:100%;
}

.left-nav {
	background-color:#495b6c;
	width:25%;
	box-sizing: border-box;	
}

.nav-text-display {
	display:inline;
}

.nav-text-hide {
	display:none;
}

.main-content {
	background:#FFF;
	width:75%;	
}

a.nav-button-col {
	padding: 18px 15px 15px 15px;
	margin:0 15px 0 0;
	color:#185086;
	font-size:20px;
	float:left;
	border-right: #3e556b 1px solid;
	border-radius: 0px;
}

.footer {
	height:50px;
	width:100%;
	background:#3e556b;
	position:fixed;
	bottom:0;
	z-index:9999;
}

.stickToTop {
	width:100%;
	position: fixed;
	top: 0;
	z-index: 10000;
}

.affix {
    top: 52px;
    left: -15px;
    right:75%;
}

.glyphicon-plus-custom {
	color: #3c763d;'
}

.paddingForuploadImg{
	padding:10px 0 10px 5%;
}
.displaiInlinebloack{
	display:inline-block;
}

.paddingLeft{
	padding:50px
	}
	
.marginForTable{
	margin:0 5%;
	width:90%;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
	}
	
.botttomBorderTable{
	border-bottom: 1px solid #ddd;
}
.marginForUploadBtn{
	margin:2% 0 0 5%;
}
input[type="file"].upload {
    display: none;
}
.cursorForBtn{
	cursor:pointer;
}
@media (min-width: 768px) {
	.labelclass{
		padding-top:7px;
		text-align:right;
		width:100%;
	}
}