<div class="panel panel-default">
	<div class="panel-heading">
		<span style="font-family:Verdana">SELECTED STUDENT LIST</span>
	</div>
	<div class="panel-body">
		<div class="col-sm-12 table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr class="table-background">
						<th>Form No.</th>
						<th>Student Name</th>
						<th>Category</th>
						<th>Previous Examination Marke</th>
						<th>View Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr class="table-background">
						<td>61531</td>
						<td>Manali Suyog Nyati</td>
						<td>Open</td>
						<td>650/750</td>
						<td><a class="glyphicon glyphicon-eye-open" role="button" data-container="body" data-toggle="popover"
								data-trigger="focus" title="Student Detail" 
								data-content="Manali Suyog Nyati fgfhgrhjrghjr yhrthjytj yrhyryhryu5y "></a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>