<h5>
	<a href="" ng-click="vm.backToPrograms()"> << <span style="text-decoration: underline;">Back to Programs</span></a>
</h5>
<div class="well panel-default">
	<strong>Program Name :</strong> {{vm.data.programName}}<br>
	<strong>Program Code :</strong> {{vm.data.programCode}}<br>
	<hr>
	<div class="row">
		<div class="col-sm-2">
			<label class="labelclass">Select Category</label>
		</div>
		<div class="col-sm-8">			
			<select class="selectpicker" data-width="100%"
					data-live-search="true"
					id="category"
					name="category" title="{{vm.labelForAllCategory}}"
					tabindex="1"
					ng-model="vm.categoryId"
					ng-options="category.key as category.value for category in vm.data.reservationList"
					required>
			</select>
		</div>
		<div class="col-sm-2">
			<input type="submit"
        		   value="Show"
        		   tabindex="2"
        		   class="btn btn-block topMargin"
        		   ng-click="vm.showByCategory()">
		</div>
	</div>
</div>
<div class="panel panel-default panel-body">
	<div class="row">
		<div class="col-sm-12 table-responsive">
			<table class="table table-striped table-bordered">
				<thead>
					<tr class="table-background">
					    <th></th>
					    <th>Form No.</th>
					    <th>Student Name</th>
					    <th>Category</th>
					    <th>Previous Examination Marks</th>
					    <th>View Profile</th>
					</tr>
				</thead>
				<tbody>
					<tr dir-paginate="appliedStudent in vm.data.appliedStudentList|filter:vm.search|itemsPerPage:vm.itemPerPage">
						<td>
							<input type="checkbox" tabindex="3" name="data">
						</td>
						<td>{{appliedStudent.formNo}}</td>
						<td>{{appliedStudent.fullName}}</td>
						<td>{{appliedStudent.categoryValue}}</td>
						<td>{{appliedStudent.marksObtain}} / {{appliedStudent.totalMarks}}</td>
					    <td style="text-align:center">
					    	<a class="glyphicon glyphicon-eye-open" id="button" role="button" 
					    		data-toggle="modal"	data-trigger="focus" title="Student Detail"
					    		data-target="#studentModal" ng-click="vm.studentModal(appliedStudent.studentId)">
					    	</a>
					    </td>
					</tr>
				</tbody>
			</table>
			
			<dir-pagination-controls
				max-size="5"
				direction-links="true"
				boundary-links="true">			
			</dir-pagination-controls> 
			<br>
			Item per page : <input type="text" ng-model="vm.itemPerPage" style="width: 40px; text-align: right;" /> 
		</div>
	</div>
	 
	<div class="modal fade" id="studentModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h5 class="modal-title">Student Profile Detail</h5>
				</div>
				<div class="modal-body">
					<ui-view></ui-view>
				</div>
			</div>
		</div>
	</div>




</div>

<script type="text/javascript">

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;

	function onclick(studentProfileDetail){
		var data = studentProfileDetail.button.data();
		data.attribute
	}
	
	setTimeout(function() {
		$(".selectpicker").selectpicker("refresh");
	}, delay);

</script>