<div class="panel panel-default">
	<div class="panel-heading">
		<span style="font-family:Verdana">SELECT PROGRAM TO GENERATE MERIT LIST</span>
	</div>
	<div class="panel-body">
		<div class="row form-group">
			<div class="col-sm-2">
				<label class="labelclass">Select Level</label>
			</div>
			<div class="col-sm-8">
				<select class="selectpicker" data-width="100%"
					data-live-search="true"
					id="category"
					tabindex="1"
					name="category" title={{vm.labelForAllProgramCategories}}
					ng-model="vm.selectedCategoryId"
					ng-options="programCategory.programCategoryId as programCategory.programCategoryName for programCategory in vm.programCategories"
					required>
				</select>
			</div>
			<div class="col-sm-2">
	    		<input type="button" class="btn btn-success btn-block topMargin" 
	    			tabindex="2" value="Show" ng-click="vm.filterByProgramLevel()">
	    	</div>
		</div>
		<hr>
		<div class="row form-group">
			<div class="col-sm-1">
				<label class="labelclass">Search</label>
			</div>
			<div class="col-sm-11">
				<input type="text" tabindex="3" ng-model="vm.search.$" class="form-control" placeholder="Search">
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-sm-12 table-responsive">		
				<table class="table table-striped table-bordered">
					<thead>
						<tr class="table-background">
						    <th width="10%">Program Code</th>
						    <th width="30%">Program Name</th>
						    <th width="10%">Faculty/College</th>
						    <th width="30%">No. of Applied Students</th>
						    <th width="12%">Select</th>
						</tr>
					</thead>
					<tbody>
						<tr dir-paginate="program in vm.programs|filter:vm.search|itemsPerPage:vm.itemPerPage">
							<td>{{program.programCode}}</td>
							<td>{{program.programName}}</td>
							<td>{{program.facultyOrCollege}}</td>
							<td></td>
							<td><input type="button" value="Select" class="btn btn-success btn-block topMargin" 
										ng-click="vm.generateMeritList(program.programId, program.programLevelId)">
							</td>
						</tr>
					</tbody>
				</table>
				<dir-pagination-controls
					max-size="5"
					direction-links="true"
					boundary-links="true">			
				</dir-pagination-controls>
				<br>
				Item per page : <input type="text" ng-model="vm.itemPerPage" style="width: 40px; text-align: right;" />
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;

	setTimeout(function() {
		$(".selectpicker").selectpicker("refresh");
	}, delay);

</script>