<div class="panel panel-default panel-heading">
	<span style="font-family:Verdana">SELECT LEVEL</span>
</div>
<div class="row">
	<div ng-repeat="category in vm.categories">
		<div class="col-sm-4">
			<div class="panel panel-default panel-body category">
				<strong>{{category.programCategoryName}} </strong>
				<br><br>
				<span class="">
				  	<input type="button" 
				  		   value="Click Here" 
				  		   class="btn btn-success btn-block topMargin"
				  		   ng-click="vm.generateMeritList(category.programCategoryId)">
			   </span>
			</div>
		</div>
	</div>
</div>
