<div class="heading">
	<h1>
       	Address Details
    </h1>
</div>
<form name="addressform" novalidate>
	<div class="panel panel-body">
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-11">
					<label><input type="checkbox"
							id="forpermanentaddress"
							tabindex="11"
							ng-model="vm.address.isNotSameAsCorrespondence">
							Is permanent address same as address for correspondence?
							<span>[Tick if Yes]</span>
					</label>
				</div>
				<!-- <div class="col-sm-11">
					<label for="forpermanentaddress"> 
					</label>
				</div> -->
			</div>
		</div>	
		<div class="row">
			<div class="col-sm-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<span style="font-family: Verdana">Correspondence Address</span>
					</div>
					<div class="panel-body">				
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="flatNo"
										   class="labelclass">Flat No./ Building Name</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="flatNo"
											placeholder="Flat No./Building"
											ng-model="vm.address.flatNo"
											tabindex="1"
											required>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="area"
										   class="labelclass">Area</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="area"
											placeholder="Area"
											ng-model="vm.address.area"
											tabindex="2"
											required>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="street"
										   class="labelclass">Street</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="street"
											placeholder="Street"
											ng-model="vm.address.street"
											tabindex="3"
											required>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="landmark"
										   class="labelclass">Landmark</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="landmark"
											placeholder="Landmark"
											ng-model="vm.address.landmark"
											tabindex="4"
											required>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="locationarea"
										   class="labelclass">Location Area</label>
								</div>
								<div class="col-sm-8">
									<select class="form-control" 
											id="locationarea" 
											tabindex="5"
											ng-model="vm.address.locationarea"
											required>
										<option>--Select--</option>		
									</select>
								</div>
							</div>
						</div>
					
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="district"
										   class="labelclass">District</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="district" 
											placeholder="District"
											tabindex="6"
											ng-model="vm.address.district"
											required>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="city"
										   class="labelclass">City</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="city" 
											placeholder="City"
											tabindex="7"
											ng-model="vm.address.city"
											required>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="pincode"
										   class="labelclass">Pin Code</label>
								</div>
								<div class="col-sm-8">
									<input type="text" 
											class="form-control" 
											id="pincode"
											placeholder="Pin Code"
											ng-model="vm.address.pinCode"
											tabindex="8"
											required>
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="state"
										   class="labelclass">State</label>
								</div>
								<div class="col-sm-8">
									<select id="state"
											class="selectpicker" data-width="100%"
											data-live-search="true" title="-- Select State --"
											tabindex="9"
											ng-model="vm.address.stateId"
											ng-change="vm.setSelectedState()"
											ng-options="stateList.stateId as stateList.stateName for stateList in vm.address.country.stateList">
									</select>
									<!-- <input type="text" 
											class="form-control" 
											id="state" 
											placeholder="State"
											tabindex="9"
											ng-model="vm.address.state"
											required> -->
											
									<!-- <select	class="form-control" 
											id="state" 
											tabindex="20"
											ng-model="vm.address.state"
											required>
										<option>--Select--</option>
									</select> -->
								</div>
							</div>
						</div>
						
						<div class="row">
							<div class="col-sm-12 form-group">
								<div class="col-sm-4">
									<label for="country"
										   class="labelclass">Select Country</label>
								</div>
								<div class="col-sm-8">
									<select id="country"
											class="selectpicker" data-width="100%"
											data-live-search="true" title="-- Select Country --"
											tabindex="10"
											ng-model="vm.address.countryId"
											ng-change="vm.setSelectedCountry()"
											ng-options="countryList.countryId as countryList.countryName for countryList in vm.address.countryList">
									</select>
									<!-- <select	class="form-control" 
											id="country" 
											tabindex="10"
											ng-model="vm.address.country"
											required>
										<option>--Select--</option>
									</select> -->
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-sm-6" ng-show="!vm.address.isNotSameAsCorrespondence">
					<div class="panel panel-default">
						<div class="panel-heading">
							<span style="font-family: Verdana">Permanent Address</span>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="flatNoPermenent"
											   class="labelclass">Flat No. / Building Name</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="flatNoPermenent"
												placeholder="Flat No./Building"
												ng-model="vm.address.flatNoPermenent"
												tabindex="12"
												required>
									</div>
								</div>
							</div>
							
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="areaPermenent"
											   class="labelclass">Area</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="areaPermenent"
												placeholder="Area"
												ng-model="vm.address.areaPermenent"
												tabindex="13"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="streetPermenent"
											   class="labelclass">Street</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="streetPermenent"
												placeholder="Street"
												ng-model="vm.address.streetPermenent"
												tabindex="14"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="landmarkPermenent"
											   class="labelclass">Landmark</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="landmarkPermenent"
												placeholder="Landmark"
												ng-model="vm.address.landmarkPermenent"
												tabindex="15"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="locationareaPermenent"
											   class="labelclass">Location Area</label>
									</div>
									<div class="col-sm-8">
										<select class="form-control" 
												id="locationareaPermenent" 
												tabindex="16"
												ng-model="vm.address.locationareaPermenent"
												required>
											<option>--Select--</option>		
										</select>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="districtPermenent"
											   class="labelclass">District</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="districtPermenent" 
												placeholder="District"
												tabindex="17"
												ng-model="vm.address.districtPermenent"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="cityPermenent"
											   class="labelclass">City</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="cityPermenent" 
												placeholder="City"
												tabindex="18"
												ng-model="vm.address.cityPermenent"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="pincodePermenent"
											   class="labelclass">Pin Code</label>
									</div>
									<div class="col-sm-8">
										<input type="text" 
												class="form-control" 
												id="pincodePermenent"
												placeholder="Pin Code"
												ng-model="vm.address.pinCodePermenent"
												tabindex="19"
												required>
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="statePermenent"
											   class="labelclass">Select State</label>
									</div>
									<div class="col-sm-8">
										<select id="statePermenent"
												class="selectpicker" data-width="100%"
												data-live-search="true" title="-- Select State --"
												tabindex="9"
												ng-model="vm.address.statePermenentId"
												ng-change="vm.setSelectedState()"
												ng-options="statePermenentList.stateId as statePermenentList.stateName for statePermenentList in vm.address.countryPermenent.stateList">
										</select>
										<!-- <select	class="form-control" 
												id="statePermenent" 
												tabindex="20"
												ng-model="vm.address.statePermenent"
												required>
											<option>--Select--</option>
										</select> -->
									</div>
								</div>
							</div>
								
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-4">
										<label for="countryPermenent"
											   class="labelclass">Select Country</label>
									</div>
									<div class="col-sm-8">
										<select	class="form-control" 
												id="countryPermenent" 
												tabindex="21"
												ng-model="vm.address.countryPermenent"
												required>
											<option>--Select--</option>
										</select>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-xs-12 col-md-12">
	        	<input type="submit" 
	        		tabindex="22"
	        		value="SAVE &amp; CONTINUE" 
	        		class="btn btn-success btn-block btn-lg topMargin" 
	        		style="margin-bottom: 10px"
	        		ng-click="vm.submit()">
	        </div>
		</div>
	</div>		
</form>

<script type="text/javascript">
	setActiveElementOnLeftNav("address");
	
	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>