<div class="heading">
	<h1>
       	Diploma Details
    </h1>
</div>


<form name="hscdetailform" novalidate class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examboard"
						   class="labelclass">Examination Board</label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="board"
							   value="1"
							   ng-model="vm.qualificationDetail.certifyingBody"
							   checked="checked">	
						<label for="board">Board</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="university"
							   value="2"
							   ng-model="vm.qualificationDetail.certifyingBody">
						<label for="university">University</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="other"
							   value="3"
							   ng-model="vm.qualificationDetail.certifyingBody">
						<label for="other">Other</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1 || vm.qualificationDetail.certifyingBody == 2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="board"
							   class="labelclass">Board</label>
					</div>
					<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
						<div class="col-sm-2">
							<input type="radio" 
								   name="board" 	
								   id="boardindian"
								   value="1"
								   ng-model="vm.qualificationDetail.isLocalBody">	
							<label for="boardindian">Indian</label>
						</div>
						<div class="col-sm-2">
							<input type="radio" 
								   name="board" 
								   id="boardforeign"
								   value="2"
								   ng-model="vm.qualificationDetail.isLocalBody">
							<label for="boardforeign">Foreign</label>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="state"
								   class="labelclass">Select State</label>
						</div>
						<div class="col-sm-8">
							<select id="state"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.state"
									ng-options="stateList.key as stateList.value for stateList in vm.quallificationdetail.stateList">
							</select>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="board"
								   class="labelclass">Select Board</label>
						</div>
						<div class="col-sm-8">
							<select id="board"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.nameOfBoard"
									ng-options="nameOfBoardList.key as nameOfBoardList.value for nameOfBoardList in vm.quallificationdetail.nameOfBoardList">
							</select>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="country"
								   class="labelclass">Select Country</label>
						</div>
						<div class="col-sm-8">
							<select id="country"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.country"
									ng-options="countryList.key as countryList.value for countryList in vm.quallificationdetail.countryList">
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="nameofboard"
								   class="labelclass">Name of Board</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="nameofboard"
								   ng-model="vm.qualificationDetail.nameOfBoard">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boaedarea"
								   class="labelclass">Board Area STD Code - Phone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardarea"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boaedemailid"
								   class="labelclass">Board Email Id</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardemailid"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boaedurl"
								   class="labelclass">Board URL</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardurl"
								   ng-model="vm.qualificationDetail.foreignBody_URL">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 2">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="state"
								   class="labelclass">Select State</label>
						</div>
						<div class="col-sm-8">
							<select id="state"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.state"
									ng-options="stateList.key as stateList.value for stateList in vm.quallificationdetail.stateList">
							</select>
						</div>
					</div>
				</div>
			
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="board"
								   class="labelclass">Select University</label>
						</div>
						<div class="col-sm-8">
							<select id="board"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.nameOfUniversity"
									ng-options="nameOfUniversityList.key as nameOfUniversityList.value for nameOfUniversityList in vm.quallificationdetail.nameOfUniversityList">
							</select>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="country"
								   class="labelclass">Select Country</label>
						</div>
						<div class="col-sm-8">
							<select id="country"
									class="selectpicker" data-width="100%"
									data-live-search="true"
									ng-model="vm.qualificationDetail.country"
									ng-options="countryList.key as countryList.value for countryList in vm.quallificationdetail.countryList">
							</select>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="nameofboard"
								   class="labelclass">Name of University</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="nameofboard"
								   ng-model="vm.qualificationDetail.nameOfUniversity">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boardarea"
								   class="labelclass">University Area STD Code - Phone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardarea"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boaedemailid"
								   class="labelclass">University Email Id</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardemailid"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="boaedurl"
								   class="labelclass">University URL</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="boardurl"
								   ng-model="vm.qualificationDetail.foreignBody_URL">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="schoolname"
							   class="labelclass">Name of Other Exam / Certifying Body</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="schoolname"
							   ng-model="vm.qualificationDetail.otherBodyName">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="schoolname"
						   class="labelclass">Name of College</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="schoolname"
						   ng-model="vm.qualificationDetail.schoolCollegeName">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="diplomaname"
						   class="labelclass">Name of Diploma</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="diplomaname"
						   ng-model="">
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="collegeaddress"
							   class="labelclass">College Address</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="collegeaddress"
							   ng-model="vm.qualificationDetail.schoolCollegeAddress">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="dateofresult"
						   class="labelclass">Date of Result</label>
				</div>
				<div class="col-sm-4">
					<select id="dateofresult"
							class="selectpicker" data-width="100%"
							data-live-search="true"
							ng-model="vm.qualificationDetail.passingMonth"
							ng-options="">
					</select>
				</div>
				<div class="col-sm-2">
					<select id="dateofresult"
							class="selectpicker" data-width="100%"
							data-live-search="true"
							ng-model="vm.qualificationDetail.passingYear"
							ng-options="">
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="rollno"
						   class="labelclass">Roll No/ Seat No</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="rollno"
						   ng-model="vm.qualificationDetail.examSeatNo">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="marksheetno"
						   class="labelclass">Marksheet No</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="marksheetno"
						   ng-model="vm.qualificationDetail.marksheetNo">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
						<label for="marksorgrade"
							   class="labelclass">If your result has Marks or Grades</label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="marks"
							   value="1"
							   ng-model="vm.qualificationDetail.evaluationType">
						<label for="marks">Marks</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="grades"
							   value="2"
							   ng-model="vm.qualificationDetail.evaluationType">
						<label for="grades">Grades</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==1">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="totalmarksobtained"
							   class="labelclass">Total Marks Obtained</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="totalmarksobtained"
							   ng-model="vm.qualificationDetail.marksObtain">
					</div>
					<div class="col-sm-2">
						<label for="outof"
							   class="labelclass">Out of</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="outof"
							   ng-model="vm.qualificationDetail.totalMarks">
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="grade"
							   class="labelclass">Grade</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="grade"
							   ng-model="vm.qualificationDetail.grade">
					</div>
					<div class="col-sm-2">
						<label for="cgpa"
							   class="labelclass">CGPA</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="cgpa"
							   ng-model="vm.qualificationDetail.cgpa">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="percentage"
						   class="labelclass">Percentage</label>
				</div>
				<div class="col-sm-3">
					<input type="text" 
						   class="form-control"
						   id="percentage"
						   ng-model="vm.qualificationDetail.percentage">
				</div>
			</div>
		</div>
	
	</div>
</form>

<script type="text/javascript">
	
	setActiveElementOnLeftNav("educationInformation");

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>