<div class="heading">
	<h1>
       	Diploma Details
    </h1>
</div>


<form name="diplomadetailform" novalidate class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examboard"
						   class="labelclass">Examination Board</label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_board"
							   value="1"
							   tabindex="1"
							   ng-model="vm.qualificationDetail.certifyingBody">	
						<label for="certifying_body_board">Board</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_university"
							   value="2"
							   tabindex="2"
							   ng-model="vm.qualificationDetail.certifyingBody">
						<label for="certifying_body_university">University</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_other"
							   value="3"
							   tabindex="3"
							   ng-model="vm.qualificationDetail.certifyingBody">
						<label for="certifying_body_other">Other</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1 || vm.qualificationDetail.certifyingBody == 2">
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="isLocalBody"
							   class="labelclass">Board</label>
					</div>
					<div class="col-sm-9 form-inline form-group labelalignmentmargin">
						<div class="col-sm-2">
							<input type="radio" 
								   name="isLocalBody" 	
								   id="boardindian"
								   value="1"
								   tabindex="4"
								   ng-model="vm.qualificationDetail.isLocalBody">	
							<label for="boardindian">Indian</label>
						</div>
						<div class="col-sm-2">
							<input type="radio" 
								   name="isLocalBody" 
								   id="boardforeign"
								   value="2"
								   tabindex="5"
								   ng-model="vm.qualificationDetail.isLocalBody">
							<label for="boardforeign">Foreign</label>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="state"
								   class="labelclass">Select State</label>
						</div>
						<div class="col-sm-8">
							<select id="state"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select State --"
									tabindex="6"
									ng-model="vm.qualificationDetail.stateId"
									ng-change="vm.setSelectedState()"
									ng-options="state.stateId as state.stateName for state in vm.qualificationDetail.stateList">
							</select>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="country"
								   class="labelclass">Select Country</label>
						</div>
						<div class="col-sm-8">
							<select id="country"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select Country --"
									tabindex="7"
									ng-model="vm.qualificationDetail.countryId"
									ng-change="vm.setSelectedCountry()"
									ng-options="countryList.countryId as countryList.countryName for countryList in vm.qualificationDetail.countryList">
							</select>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="board"
								   class="labelclass">Select Board</label>
						</div>
						<div class="col-sm-8">
							<select id="board"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select Board --"
									tabindex="8"
									ng-model="vm.qualificationDetail.boardId"
									ng-change="vm.setSelectedBoard()"
									ng-options="board.boardId as board.boardName for board in vm.qualificationDetail.state.diplomaBoardList">
							</select>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_BoardUniversityName"
								   class="labelclass">Name of Board</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_BoardUniversityName"
								   placeholder="Name of Board"
								   tabindex="9"
								   ng-model="vm.qualificationDetail.foreignBody_BoardUniversityName">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_AreaStdCodePhone"
								   class="labelclass">Board Area STD Code - Phone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_AreaStdCodePhone"
								   placeholder="Board Area STD Code - Phone"
								   tabindex="10"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_EmailId"
								   class="labelclass">Board Email Id</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_EmailId"
								   placeholder="Board Email Id"
								   tabindex="11"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_URL"
								   class="labelclass">Board URL</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_URL"
								   placeholder="Board URL"
								   tabindex="12"
								   ng-model="vm.qualificationDetail.foreignBody_URL">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 2">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="university"
								   class="labelclass">Select University</label>
						</div>
						<div class="col-sm-8">
							<select id="university"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select University --"
									tabindex="13"
									ng-model="vm.qualificationDetail.nameOfUniversity"
									ng-options="nameOfUniversityList.key as nameOfUniversityList.value for nameOfUniversityList in vm.quallificationdetail.nameOfUniversityList">
							</select>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_BoardUniversityName"
								   class="labelclass">Name of University</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_BoardUniversityName"
								   placeholder="Name of University"
								   tabindex="14"
								   ng-model="vm.qualificationDetail.foreignBody_BoardUniversityName">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_AreaStdCodePhone"
								   class="labelclass">University Area STD Code - Phone</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id=foreignBody_AreaStdCodePhone"
								   placeholder="University Area STD Code - Phone"
								   tabindex="15"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_EmailId"
								   class="labelclass">University Email Id</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_EmailId"
								   placeholder="University Email Id"
								   tabindex="16"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId">
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_URL"
								   class="labelclass">University URL</label>
						</div>
						<div class="col-sm-8">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_URL"
								   placeholder="University URL"
								   tabindex="17"
								   ng-model="vm.qualificationDetail.foreignBody_URL">
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="otherbodyname"
							   class="labelclass">Name of Other Exam / Certifying Body</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="otherbodyname"
							   placeholder="Name of Other Exam/Certifying Body"
							   tabindex="18"
							   ng-model="vm.qualificationDetail.otherBodyName">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="schoolCollegeName"
						   class="labelclass">Name of College</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="schoolCollegeName"
						   placeholder="Name of College"
						   tabindex="19"
						   ng-model="vm.qualificationDetail.schoolCollegeName">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="diplomaname"
						   class="labelclass">Name of Diploma</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="diplomaname"
						   placeholder="MName of Diploma"
						   tabindex="20"
						   ng-model="vm.qualificationDetail.qualificationName">
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="collegeaddress"
							   class="labelclass">College Address</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="collegeaddress"
							   placeholder="College Address"
							   tabindex="21"
							   ng-model="vm.qualificationDetail.schoolCollegeAddress">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="dateofresult"
						   class="labelclass">Date of Result</label>
				</div>
				<div class="col-sm-3">
					<select id="dateofresult"
							class="selectpicker" data-width="100%"
							data-live-search="true" title="--Month--"
							tabindex="22"
							ng-model="vm.qualificationDetail.passingMonth"
							ng-options="passingMonthList.key as passingMonthList.value for passingMonthList in vm.qualificationDetail.monthList">
					</select>
				</div>
				<div class="col-sm-2">
					<select id="dateofresult"
							class="selectpicker" data-width="100%"
							data-live-search="true" title="--Year--"
							tabindex="23"
							ng-model="vm.qualificationDetail.passingYear"
							ng-options="passingYearList as passingYearList for passingYearList in vm.qualificationDetail.yearList">
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examSeatNo"
						   class="labelclass">Roll No/ Seat No</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="examSeatNo"
						   placeholder="Roll No./Seat No."
						   tabindex="24"
						   ng-model="vm.qualificationDetail.examSeatNo">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="marksheetno"
						   class="labelclass">Marksheet No</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="marksheetno"
						   placeholder="Marksheet No."
						   tabindex="25"
						   ng-model="vm.qualificationDetail.marksheetNo">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
						<label for="marksorgrade"
							   class="labelclass">If your result has Marks or Grades</label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="marks"
							   value="1"
							   tabindex="26"
							   ng-model="vm.qualificationDetail.evaluationType">
						<label for="marks">Marks</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="grades"
							   value="2"
							   tabindex="27"
							   ng-model="vm.qualificationDetail.evaluationType">
						<label for="grades">Grades</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==1">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="marksObtain"
							   class="labelclass">Total Marks Obtained</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="marksObtain"
							   placeholder="Total Marks Obtained"
							   tabindex="28"
							   ng-blur="vm.calculatePercentage()"
							   ng-model="vm.qualificationDetail.marksObtain">
					</div>
					<div class="col-sm-2">
						<label for="totalMarks"
							   class="labelclass">Out of</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="totalMarks"
							   placeholder="Marks Out Of"
							   tabindex="29"
							   ng-blur="vm.calculatePercentage()"
							   ng-model="vm.qualificationDetail.totalMarks">
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="grade"
							   class="labelclass">Grade</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="grade"
							   placeholder="Grade"
							   tabindex="30"
							   ng-model="vm.qualificationDetail.grade">
					</div>
					<div class="col-sm-2">
						<label for="cgpa"
							   class="labelclass">CGPA</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="cgpa"
							   placeholder="CGPA"
							   tabindex="31"
							   ng-model="vm.qualificationDetail.cgpa">
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="percentage"
						   class="labelclass">Percentage</label>
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==2" class="col-sm-3">
					<input type="text" 
						   class="form-control"
						   id="percentage"
						   placeholder="Percentage"
						   tabindex="32"
						   ng-model="vm.qualificationDetail.percentage">
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==1" class="col-sm-3 labelalignmentmargin">
					<span>{{vm.qualificationDetail.percentage}} %</span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 50px; margin-top: 20px;">
			<div class="col-sm-4"></div>
			<div class="col-sm-2">
	        	<input type="submit" 
	        		tabindex="33"
	        		value="SAVE" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		ng-click="vm.submit()">
	        </div>
	        <div class="col-sm-2">
	        	<input type="button" 
	        		tabindex="34"
	        		value="Cancel" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		ng-click="vm.cancel()">
	        </div>
	        <div class="col-sm-4"></div>
		</div>
	</div>
</form>

<script type="text/javascript">
	
	setActiveElementOnLeftNav("educationInformation");

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>