<div class="heading">
	<h1>
       	Diploma Details
    </h1>
</div>


<form name="diplomadetailform" novalidate class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examboard"
						   class="labelclass">Examination Board
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_board"
							   value="1"
							   tabindex="1"
							   ng-model="vm.qualificationDetail.certifyingBody"
							   required>	
						<label for="certifying_body_board">Board</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_university"
							   value="2"
							   tabindex="2"
							   ng-model="vm.qualificationDetail.certifyingBody"
							   required>
						<label for="certifying_body_university">University</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="examboard" 
							   id="certifying_body_other"
							   value="3"
							   tabindex="3"
							   ng-model="vm.qualificationDetail.certifyingBody"
							   required>
						<label for="certifying_body_other">Other</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1 || vm.qualificationDetail.certifyingBody == 2">
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="isLocalBody"
							   class="labelclass">Board
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-9 form-inline form-group labelalignmentmargin">
						<div class="col-sm-2">
							<input type="radio" 
								   name="isLocalBody" 	
								   id="boardindian"
								   value="1"
								   tabindex="4"
								   ng-model="vm.qualificationDetail.isLocalBody"
								   required>	
							<label for="boardindian">Indian</label>
						</div>
						<div class="col-sm-2">
							<input type="radio" 
								   name="isLocalBody" 
								   id="boardforeign"
								   value="2"
								   tabindex="5"
								   ng-model="vm.qualificationDetail.isLocalBody"
								   required>
							<label for="boardforeign">Foreign</label>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="state"
								   class="labelclass">Select State
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.state.$invalid &&
						 							diplomadetailform.state.$dirty}">
							<select id="state"
									name="state"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select State --"
									tabindex="6"
									ng-model="vm.qualificationDetail.stateId"
									ng-change="vm.setSelectedState()"
									ng-options="state.stateId as state.stateName for state in vm.qualificationDetail.stateList"
									ng-required="(vm.qualificationDetail.certifyingBody == 1 || vm.qualificationDetail.certifyingBody == 2)
													&& vm.qualificationDetail.isLocalBody==1">
							</select>
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.state.$error.required &&
											   diplomadetailform.state.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="country"
								   class="labelclass">Select Country
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.country.$invalid &&
						 							diplomadetailform.country.$dirty}">
							<select id="country"
									name="country"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select Country --"
									tabindex="7"
									ng-model="vm.qualificationDetail.countryId"
									ng-change="vm.setSelectedCountry()"
									ng-options="countryList.countryId as countryList.countryName for countryList in vm.qualificationDetail.countryList"
									ng-required="(vm.qualificationDetail.certifyingBody == 1 || vm.qualificationDetail.certifyingBody == 2)
													&& vm.qualificationDetail.isLocalBody==2">
							</select>
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.country.$error.required &&
											   diplomadetailform.country.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 1">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="board"
								   class="labelclass">Select Board
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.board.$invalid &&
						 							diplomadetailform.board.$dirty}">
							<select id="board"
									name="board"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select Board --"
									tabindex="8"
									ng-model="vm.qualificationDetail.boardId"
									ng-change="vm.setSelectedBoard()"
									ng-options="board.boardId as board.boardName for board in vm.qualificationDetail.state.diplomaBoardList"
									ng-required="vm.qualificationDetail.certifyingBody == 1 && vm.qualificationDetail.isLocalBody==1">
							</select>
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.board.$error.required &&
											   diplomadetailform.board.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_BoardUniversityName"
								   class="labelclass">Name of Board
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_BoardUniversityName.$invalid &&
						 							diplomadetailform.foreignBody_BoardUniversityName.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_BoardUniversityName"
								   name="foreignBody_BoardUniversityName"
								   placeholder="Name of Board"
								   tabindex="9"
								   ng-model="vm.qualificationDetail.foreignBody_BoardUniversityName"
								   ng-required="vm.qualificationDetail.certifyingBody == 1 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_BoardUniversityName.$error.required &&
											   diplomadetailform.foreignBody_BoardUniversityName.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_AreaStdCodePhone"
								   class="labelclass">Board Area STD Code - Phone
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_AreaStdCodePhone.$invalid &&
						 							diplomadetailform.foreignBody_AreaStdCodePhone.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_AreaStdCodePhone"
								   name="foreignBody_AreaStdCodePhone"
								   placeholder="Board Area STD Code - Phone"
								   tabindex="10"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone"
								   ng-required="vm.qualificationDetail.certifyingBody == 1 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_AreaStdCodePhone.$error.required &&
											   diplomadetailform.foreignBody_AreaStdCodePhone.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_EmailId"
								   class="labelclass">Board Email Id
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_EmailId.$invalid &&
						 							diplomadetailform.foreignBody_EmailId.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_EmailId"
								   name="foreignBody_EmailId"
								   placeholder="Board Email Id"
								   tabindex="11"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId"
								   ng-required="vm.qualificationDetail.certifyingBody == 1 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_EmailId.$error.required &&
											   diplomadetailform.foreignBody_EmailId.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_URL"
								   class="labelclass">Board URL
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_URL.$invalid &&
						 							diplomadetailform.foreignBody_URL.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_URL"
								   name="foreignBody_URL"
								   placeholder="Board URL"
								   tabindex="12"
								   ng-model="vm.qualificationDetail.foreignBody_URL"
								   ng-required="vm.qualificationDetail.certifyingBody == 1 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_URL.$error.required &&
											   diplomadetailform.foreignBody_URL.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 2">		
			<div ng-show="vm.qualificationDetail.isLocalBody==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="university"
								   class="labelclass">Select University
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.university.$invalid &&
						 							diplomadetailform.university.$dirty}">
							<select id="university"
								    name="university"
									class="selectpicker" data-width="100%"
									data-live-search="true" title="-- Select University --"
									tabindex="13"
									ng-model="vm.qualificationDetail.nameOfUniversity"
									ng-options="nameOfUniversityList.key as nameOfUniversityList.value for nameOfUniversityList in vm.quallificationdetail.nameOfUniversityList"
								    ng-required="vm.qualificationDetail.certifyingBody == 2 && vm.qualificationDetail.isLocalBody==1">
							</select>
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.university.$error.required &&
											   diplomadetailform.university.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		
			<div ng-show="vm.qualificationDetail.isLocalBody==2">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_BoardUniversityName"
								   class="labelclass">Name of University
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_BoardUniversityName.$invalid &&
						 							diplomadetailform.foreignBody_BoardUniversityName.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_BoardUniversityName"
								   name="foreignBody_BoardUniversityName"
								   placeholder="Name of University"
								   tabindex="14"
								   ng-model="vm.qualificationDetail.foreignBody_BoardUniversityName"
								   ng-required="vm.qualificationDetail.certifyingBody == 2 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_BoardUniversityName.$error.required &&
											   diplomadetailform.foreignBody_BoardUniversityName.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_AreaStdCodePhone"
								   class="labelclass">University Area STD Code - Phone
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_AreaStdCodePhone.$invalid &&
						 							diplomadetailform.foreignBody_AreaStdCodePhone.$dirty}">
							<input type="text" 
								   class="form-control"
								   id=foreignBody_AreaStdCodePhone"
								   name="foreignBody_AreaStdCodePhone"
								   placeholder="University Area STD Code - Phone"
								   tabindex="15"
								   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone"
								   ng-required="vm.qualificationDetail.certifyingBody == 2 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_AreaStdCodePhone.$error.required &&
											   diplomadetailform.foreignBody_AreaStdCodePhone.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_EmailId"
								   class="labelclass">University Email Id
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_EmailId.$invalid &&
						 							diplomadetailform.foreignBody_EmailId.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_EmailId"
								   name="foreignBody_EmailId"
								   placeholder="University Email Id"
								   tabindex="16"
								   ng-model="vm.qualificationDetail.foreignBody_EmailId"
								   ng-required="vm.qualificationDetail.certifyingBody == 2 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_EmailId.$error.required &&
											   diplomadetailform.foreignBody_EmailId.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="foreignBody_URL"
								   class="labelclass">University URL
							<span style="color:red"><big> * </big></span></label>
						</div>
						<div class="col-sm-8"
							 ng-class="{'has-error':diplomadetailform.foreignBody_URL.$invalid &&
						 							diplomadetailform.foreignBody_URL.$dirty}">
							<input type="text" 
								   class="form-control"
								   id="foreignBody_URL"
								   name="foreignBody_URL"
								   placeholder="University URL"
								   tabindex="17"
								   ng-model="vm.qualificationDetail.foreignBody_URL"
								   ng-required="vm.qualificationDetail.certifyingBody == 2 && vm.qualificationDetail.isLocalBody==2">
						
							<span class="help-block has-error">
								<span ng-show="diplomadetailform.foreignBody_URL.$error.required &&
											   diplomadetailform.foreignBody_URL.$dirty">
										Required Field</span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="otherbodyname"
							   class="labelclass">Name of Other Exam / Certifying Body
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-8"
						 ng-class="{'has-error':diplomadetailform.otherbodyname.$invalid &&
						 						diplomadetailform.otherbodyname.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="otherbodyname"
							   name="otherbodyname"
							   placeholder="Name of Other Exam/Certifying Body"
							   tabindex="18"
							   ng-model="vm.qualificationDetail.otherBodyName"
							   ng-required="vm.qualificationDetail.certifyingBody == 3">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.otherbodyname.$error.required &&
										   diplomadetailform.otherbodyname.$dirty">
									Required Field</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="schoolCollegeName"
						   class="labelclass">Name of College
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-8"
					 ng-class="{'has-error':diplomadetailform.schoolCollegeName.$invalid &&
					 						diplomadetailform.schoolCollegeName.$dirty}">
					<input type="text" 
						   class="form-control"
						   id="schoolCollegeName"
						   name="schoolCollegeName"
						   placeholder="Name of College"
						   tabindex="19"
						   ng-model="vm.qualificationDetail.schoolCollegeName"
						   required>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.schoolCollegeName.$error.required &&
									   diplomadetailform.schoolCollegeName.$dirty">
								Required Field</span>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="diplomaname"
						   class="labelclass">Name of Diploma
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-8"
					 ng-class="{'has-error':diplomadetailform.diplomaname.$invalid &&
					 						diplomadetailform.diplomaname.$dirty}">
					<input type="text" 
						   class="form-control"
						   id="diplomaname"
						   name="diplomaname"
						   placeholder="Name of Diploma"
						   tabindex="20"
						   ng-model="vm.qualificationDetail.qualificationName"
						   required>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.diplomaname.$error.required &&
									   diplomadetailform.diplomaname.$dirty">
								Required Field</span>
					</span>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.certifyingBody == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="collegeaddress"
							   class="labelclass">College Address
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-8"
					 	 ng-class="{'has-error':diplomadetailform.collegeaddress.$invalid &&
					 							diplomadetailform.collegeaddress.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="collegeaddress"
						   	   name="collegeaddress"
							   placeholder="College Address"
							   tabindex="21"
							   ng-model="vm.qualificationDetail.schoolCollegeAddress"
						   	   ng-required="vm.qualificationDetail.certifyingBody == 3">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.collegeaddress.$error.required &&
										   diplomadetailform.collegeaddress.$dirty">
									Required Field</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="dateofresult"
						   class="labelclass">Date of Result
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-3"
				 	 ng-class="{'has-error':diplomadetailform.monthOfResult.$invalid &&
				 							diplomadetailform.monthOfResult.$dirty}">
					<select id="dateofresult"
					   	    name="monthOfResult"
							class="selectpicker" data-width="100%"
							data-live-search="true" title="--Month--"
							tabindex="22"
							ng-model="vm.qualificationDetail.passingMonth"
							ng-options="passingMonthList.key as passingMonthList.value for passingMonthList in vm.qualificationDetail.monthList"
							required>
					</select>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.monthOfResult.$error.required &&
									   diplomadetailform.monthOfResult.$dirty">
								Required Field</span>
					</span>
				</div>
				<div class="col-sm-2"
				 	 ng-class="{'has-error':diplomadetailform.yearOfResult.$invalid &&
				 							diplomadetailform.yearOfResult.$dirty}">
					<select id="dateofresult"
					   	    name="yearOfResult"
							class="selectpicker" data-width="100%"
							data-live-search="true" title="--Year--"
							tabindex="23"
							ng-model="vm.qualificationDetail.passingYear"
							ng-options="passingYearList as passingYearList for passingYearList in vm.qualificationDetail.yearList"
							required>
					</select>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.yearOfResult.$error.required &&
									   diplomadetailform.yearOfResult.$dirty">
								Required Field</span>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examSeatNo"
						   class="labelclass">Roll No/ Seat No
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-8"
				 	 ng-class="{'has-error':diplomadetailform.examSeatNo.$invalid &&
				 							diplomadetailform.examSeatNo.$dirty}">
					<input type="text" 
						   class="form-control"
						   id="examSeatNo"
					   	   name="examSeatNo"
						   placeholder="Roll No./Seat No."
						   tabindex="24"
						   ng-model="vm.qualificationDetail.examSeatNo"
						   required>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.examSeatNo.$error.required &&
									   diplomadetailform.examSeatNo.$dirty">
								Required Field</span>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="marksheetno"
						   class="labelclass">Marksheet No
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-8"
				 	 ng-class="{'has-error':diplomadetailform.marksheetno.$invalid &&
				 							diplomadetailform.marksheetno.$dirty}">
					<input type="text" 
						   class="form-control"
						   id="marksheetno"
					   	   name="marksheetno"
						   placeholder="Marksheet No."
						   tabindex="25"
						   ng-model="vm.qualificationDetail.marksheetNo"
						   required>
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.marksheetno.$error.required &&
									   diplomadetailform.marksheetno.$dirty">
								Required Field</span>
					</span>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
						<label for="marksorgrade"
							   class="labelclass">If your result has Marks or Grades
						<span style="color:red"><big> * </big></span></label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="marks"
							   value="1"
							   tabindex="26"
							   ng-model="vm.qualificationDetail.evaluationType"
							   required>
						<label for="marks">Marks</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="marksorgrade" 
							   id="grades"
							   value="2"
							   tabindex="27"
							   ng-model="vm.qualificationDetail.evaluationType"
							   required>
						<label for="grades">Grades</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==1">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="marksObtain"
							   class="labelclass">Total Marks Obtained
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-3"
					 	 ng-class="{'has-error':diplomadetailform.marksObtain.$invalid &&
					 							diplomadetailform.marksObtain.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="marksObtain"
					   	   	   name="marksObtain"
							   placeholder="Total Marks Obtained"
							   tabindex="28"
							   ng-blur="vm.calculatePercentage()"
							   ng-model="vm.qualificationDetail.marksObtain"
							   ng-required="vm.qualificationDetail.evaluationType==1">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.marksObtain.$error.required &&
										   diplomadetailform.marksObtain.$dirty">
									Required Field</span>
						</span>
					</div>
					<div class="col-sm-2">
						<label for="totalMarks"
							   class="labelclass">Out of
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-3"
					 	 ng-class="{'has-error':diplomadetailform.totalMarks.$invalid &&
					 							diplomadetailform.totalMarks.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="totalMarks"
					   	   	   name="totalMarks"
							   placeholder="Marks Out Of"
							   tabindex="29"
							   ng-blur="vm.calculatePercentage()"
							   ng-model="vm.qualificationDetail.totalMarks"
							   ng-required="vm.qualificationDetail.evaluationType==1">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.totalMarks.$error.required &&
										   diplomadetailform.totalMarks.$dirty">
									Required Field</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.evaluationType==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="grade"
							   class="labelclass">Grade
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-3"
					 	 ng-class="{'has-error':diplomadetailform.grade.$invalid &&
					 							diplomadetailform.grade.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="grade"
					   	   	   name="grade"
							   placeholder="Grade"
							   tabindex="30"
							   ng-model="vm.qualificationDetail.grade"
							   ng-required="vm.qualificationDetail.evaluationType==2">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.grade.$error.required &&
										   diplomadetailform.grade.$dirty">
									Required Field</span>
						</span>
					</div>
					<div class="col-sm-2">
						<label for="cgpa"
							   class="labelclass">CGPA
						<span style="color:red"><big> * </big></span></label>
					</div>
					<div class="col-sm-3"
					 	 ng-class="{'has-error':diplomadetailform.cgpa.$invalid &&
					 							diplomadetailform.cgpa.$dirty}">
						<input type="text" 
							   class="form-control"
							   id="cgpa"
					   	   	   name="cgpa"
							   placeholder="CGPA"
							   tabindex="31"
							   ng-model="vm.qualificationDetail.cgpa"
							   ng-required="vm.qualificationDetail.evaluationType==2">
						
						<span class="help-block has-error">
							<span ng-show="diplomadetailform.cgpa.$error.required &&
										   diplomadetailform.cgpa.$dirty">
									Required Field</span>
						</span>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="percentage"
						   class="labelclass">Percentage
					<span style="color:red"><big> * </big></span></label>
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==2" class="col-sm-3"
				 	 ng-class="{'has-error':diplomadetailform.percentage.$invalid &&
				 							diplomadetailform.percentage.$dirty}">
					<input type="text" 
						   class="form-control"
						   id="percentage"
				   	   	   name="percentage"
						   placeholder="Percentage"
						   tabindex="32"
						   ng-model="vm.qualificationDetail.percentage"
						   ng-required="vm.qualificationDetail.evaluationType==2">
						
					<span class="help-block has-error">
						<span ng-show="diplomadetailform.percentage.$error.required &&
									   diplomadetailform.percentage.$dirty">
								Required Field</span>
					</span>
				</div>
				<div ng-show="vm.qualificationDetail.evaluationType==1" class="col-sm-3 labelalignmentmargin">
					<span>{{vm.qualificationDetail.percentage}} %</span>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 50px; margin-top: 20px;">
			<div class="col-sm-4"></div>
			<div class="col-sm-2">
	        	<input type="submit" 
	        		tabindex="33"
	        		value="SAVE" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		ng-click="vm.submit()">
	        </div>
	        <div class="col-sm-2">
	        	<input type="button" 
	        		tabindex="34"
	        		value="Cancel" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		ng-click="vm.cancel()">
	        </div>
	        <div class="col-sm-4"></div>
		</div>
	</div>
</form>

<script type="text/javascript">
	
	setActiveElementOnLeftNav("educationInformation");

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>