<div class="heading">
	<h1>
       	HSC Details
    </h1>
</div>


<form name="hscdetailform" novalidate class="panel panel-default">
	<div class="panel-body">
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="isLocalBody"
						   class="labelclass">Board</label>
				</div>
				<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
					<div class="col-sm-2">
						<input type="radio"
							   tabindex="1"
							   name="isLocalBody" 
							   id="boardindian"
							   value="1"
							   ng-model="vm.qualificationDetail.isLocalBody">
						<label for="boardindian">Indian</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   tabindex="2"
							   name="isLocalBody" 
							   id="boardforeign"
							   value="2"
							   ng-model="vm.qualificationDetail.isLocalBody">
						<label for="boardforeign">Foreign</label>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.isLocalBody==1">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="state"
							   class="labelclass">Select State</label>
					</div>
					<div class="col-sm-8">
						<select id="state"
								class="selectpicker" data-width="100%" title="-- Select State --" data-size="10"
								data-live-search="true"
								tabindex="3"
								ng-model="vm.qualificationDetail.stateId"
								ng-change="vm.setSelectedState()"
								ng-options="state.stateId as state.stateName for state in vm.qualificationDetail.stateList">
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="board"
							   class="labelclass">Select Board</label>
					</div>
					<div class="col-sm-8">
						<select id="board"
								class="selectpicker" data-width="100%" title="-- Select Board --" data-size="10"
								data-live-search="true"
								tabindex="4"
								ng-model="vm.qualificationDetail.boardId"
								ng-change="vm.setSelectedBoard()"
								ng-options="board.boardId as board.boardName for board in vm.qualificationDetail.state.hscBoardList">
						</select>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.isLocalBody==2">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="country"
							   class="labelclass">Select Country</label>
					</div>
					<div class="col-sm-8">
						<select id="country"
								class="selectpicker" data-width="100%" title="-- Select Country --" data-size="10"
								data-live-search="true"
								tabindex="5"
								ng-model="vm.qualificationDetail.countryId"
								ng-change="vm.setSelectedCountry()"
								ng-options="country.countryId as country.countryName for country in vm.qualificationDetail.countryList">
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="foreignBody_BoardUniversityName"
							   class="labelclass">Name of Board</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="foreignBody_BoardUniversityName"
							   placeholder="Name of Board"
							   tabindex="6"
							   ng-model="vm.qualificationDetail.foreignBody_BoardUniversityName">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="foreignBody_AreaStdCodePhone"
							   class="labelclass">Board Area STD Code - Phone</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="foreignBody_AreaStdCodePhone"
							   placeholder="Board Area STD Code - Phone"
							   tabindex="7"
							   ng-model="vm.qualificationDetail.foreignBody_AreaStdCodePhone">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="foreignBody_EmailId"
							   class="labelclass">Board Email Id</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="foreignBody_EmailId"
							   placeholder="Board Email Id"
							   tabindex="8"
							   ng-model="vm.qualificationDetail.foreignBody_EmailId">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="foreignBody_URL"
							   class="labelclass">Board URL</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="foreignBody_URL"
							   placeholder="Board URL"
							   tabindex="9"
							   ng-model="vm.qualificationDetail.foreignBody_URL">
					</div>
				</div>
			</div>
		</div>
		
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="stream"
						   class="labelclass">Stream</label>
				</div>
				<div class="col-sm-8">
					<select id="stream"
							class="selectpicker" data-width="100%" title="-- Select Stream --" data-size="5"
							data-live-search="true"
							tabindex="10"
							ng-model="vm.qualificationDetail.stream"
							ng-options="stream.key as stream.value for stream in vm.qualificationDetail.streamList">
					</select>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="schoolCollegeName"
						   class="labelclass">School / College Name</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="schoolCollegeName"
						   placeholder="School / College Name"
						   tabindex="11"
						   ng-model="vm.qualificationDetail.schoolCollegeName">
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
						<label for="resultstatus"
							   class="labelclass">Result Status</label>
				</div>
				<div class="col-sm-9 form-inline form-group labelalignmentmargin">
					<div class="col-sm-2">
						<input type="radio" 
							   name="resultstatus" 
							   id="passed"
							   value="1"
							   tabindex="12"
							   ng-model="vm.qualificationDetail.resultStatus">
						<label for="passed">Passed</label>
					</div>
					<div class="col-sm-3">
						<input type="radio" 
							   name="reaultstatus" 
							   id="awaited"
							   value="2"
							   tabindex="13"
							   ng-model="vm.qualificationDetail.resultStatus">
						<label for="awaited">Result Awaited</label>
					</div>
					<div class="col-sm-2">
						<input type="radio" 
							   name="resultstatus" 
							   id="failed"
							   value="3"
							   tabindex="14"
							   ng-model="vm.qualificationDetail.resultStatus">
						<label for="failed">Failed</label>
					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 form-group">
				<div class="col-sm-3">
					<label for="examSeatNo"
						   class="labelclass">Roll No / Seat No</label>
				</div>
				<div class="col-sm-8">
					<input type="text" 
						   class="form-control"
						   id="examSeatNo"
						   placeholder="Roll No. / Seat No."
						   tabindex="15"
						   ng-model="vm.qualificationDetail.examSeatNo">
				</div>
			</div>
		</div>
		
		<div ng-show="vm.qualificationDetail.resultStatus == 1 || vm.qualificationDetail.resultStatus == 3">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="noofattempts"
							   class="labelclass">No. of Attempts</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="noofattempts"
							   placeholder="No. of Attempts"
							   tabindex="16"
							   ng-model="vm.qualificationDetail.noOfAttempts">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="dateofresult"
							   class="labelclass">Date of Result</label>
					</div>
					<div class="col-sm-3">
						<select id="dateofresult"
								class="selectpicker" data-width="100%" title="--Month--" data-size="6"
								data-live-search="true"
								tabindex="17"
								ng-model="vm.qualificationDetail.passingMonth"
								ng-options="passingMonthList.key as passingMonthList.value for passingMonthList in vm.qualificationDetail.monthList">
						</select>
					</div>
					<div class="col-sm-2">
						<select id="dateofresult"
								class="selectpicker" data-width="100%" title="--Year--" data-size="6"
								data-live-search="true"
								tabindex="18"
								ng-model="vm.qualificationDetail.passingYear"
								ng-options="passingYearList as passingYearList for passingYearList in vm.qualificationDetail.yearList">
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="marksheetno"
							   class="labelclass">Marksheet No</label>
					</div>
					<div class="col-sm-8">
						<input type="text" 
							   class="form-control"
							   id="marksheetno"
							   placeholder="Marksheet No."
							   tabindex="19"
							   ng-model="vm.qualificationDetail.marksheetNo">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
							<label for="marksorgrade"
								   class="labelclass">If your result has Marks or Grades</label>
					</div>
					<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
						<div class="col-sm-2">
							<input type="radio" 
								   name="marksorgrade" 
								   id="marks"
								   value="1"
								   tabindex="20"
								   ng-model="vm.qualificationDetail.evaluationType">
							<label for="marks">Marks</label>
						</div>
						<div class="col-sm-2">
							<input type="radio" 
								   name="marksorgrade" 
								   id="grades"
								   value="2"
								   tabindex="21"
								   ng-model="vm.qualificationDetail.evaluationType">
							<label for="grades">Grades</label>
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.evaluationType==1">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="marksObtain"
								   class="labelclass">Total Marks Obtained</label>
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="marksObtain"
								   placeholder="Total Marks Obtained"
								   tabindex="22"
								   ng-blur="vm.calculatePercentage()"
								   ng-model="vm.qualificationDetail.marksObtain">
						</div>
						<div class="col-sm-2">
							<label for="totalMarks"
								   class="labelclass">Out of</label>
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="totalMarks"
								   placeholder="Marks Out Of"
								   tabindex="23"
								   ng-blur="vm.calculatePercentage()"
								   ng-model="vm.qualificationDetail.totalMarks">
						</div>
					</div>
				</div>
			</div>
			
			<div ng-show="vm.qualificationDetail.evaluationType==2">			
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="grade"
								   class="labelclass">Grade</label>
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="grade"
								   placeholder="Grade"
								   tabindex="24"
								   ng-model="vm.qualificationDetail.grade">
						</div>
						<div class="col-sm-2">
							<label for="cgpa"
								   class="labelclass">CGPA</label>
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="cgpa"
								   placeholder="CGPA"
								   tabindex="25"
								   ng-model="vm.qualificationDetail.cgpa">
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="percentage"
							   class="labelclass">Percentage</label>
					</div>
					<div ng-show="vm.qualificationDetail.evaluationType==2" class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="percentage"
							   placeholder="Percentage"
							   tabindex="26"
							   ng-model="vm.qualificationDetail.percentage">
					</div>
					<div ng-show="vm.qualificationDetail.evaluationType==1" class="col-sm-3 labelalignmentmargin">
						{{vm.qualificationDetail.percentage}} %
					</div>
				</div>
			</div>
		</div>
		<div class="row" style="margin-bottom: 50px; margin-top: 20px;">
			<div class="col-sm-4"></div>
			<div class="col-sm-2">
	        	<input type="submit" 
	        		value="SAVE" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		tabindex="27"
	        		ng-click="vm.submit()">
	        </div>
	        <div class="col-sm-2">
	        	<input type="button" 
	        		value="Cancel" 
	        		class="btn btn-success btn-block topMargin" 	        		
	        		tabindex="28"
	        		ng-click="vm.cancel()">
	        </div>
	        <div class="col-sm-4"></div>
		</div>
		
	</div>
</form>

<script type="text/javascript">
	
	setActiveElementOnLeftNav("educationInformation");

	$(".selectpicker").selectpicker("refresh");
	var delay = 1000;
	
	setTimeout(function() {
		//alert("Hi alert");
		$(".selectpicker").selectpicker("refresh");
	}, delay);
	
</script>