<div class="heading">
	<h1>
       	Personal Details
    </h1>
</div>

<div class="well alert-danger">
	<span>
		<strong>NOTE:</strong> 
		Please Enter the Name as per your SSC Marksheet / Leaving Certificate
	</span>
	<br>
	<div style="margin-top:10px">
		<span style="color:red"><big>*</big></span><span>Indicates Required Fields</span>
	</div>
</div>

<form name="personaldetailform" novalidate class="panel panel-body">

	<div class="panel panel-default">
		<div class="panel-heading">
			<span style="font-family:Verdana">Applicant's Details</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="applicantsname"
							   class="labelclass">Applicant's Full Name</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="applicantsname"
							   placeholder="Last Name"
							   tabindex="1"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.lastName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="applicantsname"
							   placeholder="First Name"
							   tabindex="2"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.firstName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="applicantsname"
							   placeholder="Middle Name"
							   tabindex="3"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.middleName">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="regionalname"
							   class="labelclass">Name in Regional Language</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="regionalname"
							   placeholder="Last Name"
							   tabindex="4"
							   ng-model="vm.personaldetail.lastNameRegional">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="regionalname"
							   placeholder="First Name"
							   tabindex="5"
							   ng-model="vm.personaldetail.firstNameRegional">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="regionalname"
							   placeholder="Middle Name"
							   tabindex="6"
							   ng-model="vm.personaldetail.middleNameRegional">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-12 form-group">
					<input type="checkbox"
						   id="namechange"
						   tabindex="7"
						   ng-model="vm.personaldetail.isPreviousName">
					<label for="namechange">Is your name changed?
						<span>[Tick if Yes]</span>
					</label>
				</div>
			</div>
			
			<div ng-show="vm.personaldetail.isPreviousName">
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="newname"
								   class="labelclass">New Full Name</label>
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="newname"
								   placeholder="Last Name"
								   tabindex="8"
								   style="text-transform:uppercase"
								   ng-model="vm.personaldetail.lastNamePrevious">
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="newname"
								   placeholder="First Name"
								   tabindex="9"
								   style="text-transform:uppercase"
								   ng-model="vm.personaldetail.firstNamePrevious">
						</div>
						<div class="col-sm-3">
							<input type="text" 
								   class="form-control"
								   id="newname"
								   placeholder="Middle Name"
								   tabindex="10"
								   style="text-transform:uppercase"
								   ng-model="vm.personaldetail.middleNamePrevious">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12 form-group">
						<div class="col-sm-3">
							<label for="reason"
								   class="labelclass">Reason for Name Change</label>
						</div>
						<div class="col-sm-3">
							<select id="reason"
									class="form-control"
									tabindex="11"
									ng-model="vm.personaldetail.nameChangeReason"
									ng-options="nameChangeReason.key as nameChangeReason.value for nameChangeReason in vm.personaldetail.nameChangeReasonList">
							</select>
						</div>
					</div>
				</div>			
			</div>
			
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<span style="font-family:Verdana">Family Details</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="fathersname"
							   class="labelclass">Father's Full Name</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="fathersname"
							   placeholder="Last Name"
							   tabindex="12"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.fathersLastName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="fathersname"
							   placeholder="First Name"
							   tabindex="13"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.fathersFirstName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="fathersname"
							   placeholder="Middle Name"
							   tabindex="14"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.fathersMiddleName">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="mothersname"
							   class="labelclass">Mother's Full Name</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="mothersname"
							   placeholder="Last Name"
							   tabindex="15"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.mothersLastName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="mothersname"
							   placeholder="First Name"
							   tabindex="16"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.mothersFirstName">
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control"
							   id="mothersname"
							   placeholder="Middle Name"
							   tabindex="17"
							   style="text-transform:uppercase"
							   ng-model="vm.personaldetail.mothersMiddleName">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="parentsemail"
							   class="labelclass">Parent's Email Id</label>
					</div>
					<div class="col-sm-6">
						<input type="email" 
							   class="form-control" 
							   id="parentsemail"
							   placeholder="Parent's Email Id"
							   tabindex="18"
							   ng-model="vm.personaldetail.parentsEmailId">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="parentscontact"
							   class="labelclass">Parent's Contact No.</label>
					</div>
					<div class="col-sm-6">
						<input type="text" 
							   class="form-control" 
							   id="parentscontact"
							   placeholder="Parent's Contact No."
							   tabindex="19"
							   ng-model="vm.personaldetail.parentsContactNo">
					</div>
				</div>
			</div>
		
		</div>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-heading">
			<span style="font-family:Verdana">Other Details</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-3">
						<label for="gender"
							   class="labelclass">Gender</label>
					</div>
					<div class="col-sm-9 form-inline form-group" style="padding-top:7px">
						<div class="col-sm-2">
							<input type="radio" 
								   name="gender" 
								   id="genderMale"
								   value="1"
								   tabindex="20"
								   ng-model="vm.personaldetail.gender">
							<label for="genderMale">Male</label>
						</div>
						<div class="col-sm-2">
							<input type="radio" 
								   name="gender" 
								   id="genderFemale"
								   value="2"
								   tabindex="21"
								   ng-model="vm.personaldetail.gender">
							<label for="genderFemale">Female</label>
						</div>
						<div class="col-sm-3">
							<input type="radio" 
								   name="gender" 
								   id="transGender"
								   value="3"
								   tabindex="22"
								   ng-model="vm.personaldetail.gender">
							<label for="transGender">Transgender</label>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="bloodgroup"
							   class="labelclass">Blood Group</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="bloodgroup" 
								tabindex="23"
								ng-model="vm.personaldetail.bloodGroup"
								ng-options="bloodgroup.key as bloodgroup.value for bloodgroup in vm.personaldetail.bloodGroupList">
						</select>
					</div>
					<div class="col-sm-3">
						<label for="dateofbirth"
						   class="labelclass">Date of Birth</label>
					</div>
					<div class="col-sm-3 input-group">
						<input type="text" 
							   class="form-control" 
							   id="dateofbirth"  
							   ui-mask="dd/mm/yyyy"
							   datepicker-popup="{{format}}"
							   tabindex="24"
							   is-open="vm.opened"
							   ng-model="vm.personaldetail.birthDate"
							   datepicker-options="dateOptions"
							   date-disabled="disabled(date, mode)" 
							   ng-required="true" 
							   close-text="Close"
							   required>
						<span class="input-group-btn">
							<button class="btn btn-default"
									ng-click="vm.open($event)">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="maritalstatus"
							   class="labelclass">Marital Status</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="maritalstatus"
								tabindex="25"
								ng-model="vm.personaldetail.maritalStatus"
								ng-options="maritalStatus.key as maritalStatus.value for maritalStatus in vm.personaldetail.maritalStatusList">
						</select>
					</div>
					<div class="col-sm-3">
						<label for="placeofbirth"
							   class="labelclass">Place of Birth</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control" 
							   id="placeofbirth"
							   tabindex="26"
							   ng-model="vm.personaldetail.placeOfBirth">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="aadharno"
							   class="labelclass">Aadhar No</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control" 
							   id="aadharno"
							   tabindex="27"
							   ng-model="vm.personaldetail.adharNo">
					</div>
					<div class="col-sm-3">
						<label for="educationgap"
							   class="labelclass">Education Gap (in yrs)</label>
					</div>
					<div class="col-sm-3">
						<input type="text" 
							   class="form-control" 
							   id="educationgap"
							   tabindex="28"
							   ng-model="vm.personaldetail.educationGap">
					</div>
				</div>
			</div>
			
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-heading">
			<span style="font-family:Verdana">Nationality Details</span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="citizenship"
							   class="labelclass">Country of Citizenship</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="citizenship"
								tabindex="29">
							<option selected disabled>--Select--</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="domiciled"
							   class="labelclass">Domicile of State</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="citizenship"
								tabindex="30"
								ng-model="vm.personaldetail.domiciledIn">
							<option selected disabled>--Select--</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="passportno"
							   class="labelclass">Passport No.</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="passportno"
							   tabindex="31">
					</div>
					<div class="col-sm-3">
						<label for="placeofissue"
							   class="labelclass">Place of Issue of Passport</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="placeofissue"
							   tabindex="32">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="dateofissue"
							   class="labelclass">Date of Issue of Passport</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="dateofissue"
							   tabindex="33">
					</div>
					<div class="col-sm-3">
						<label for="dateofexpiry"
							   class="labelclass">Date of Expiry of Passport</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="placeofissue"
							   tabindex="34">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="issuingauthority"
							   class="labelclass">Passport Issuing Authority</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="issuingauthority"
								tabindex="35">
							<option selected disabled>--Select--</option>
						</select>
					</div>
					<div class="col-sm-3">
						<label for="issuingcountry"
							   class="labelclass">Passport Issuing Country</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="issuingcountry"
								tabindex="36">
							<option selected disabled>--Select--</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="visatype"
							   class="labelclass">Visa Type</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="visatype"
								tabindex="37">
							<option selected disabled>--Select--</option>
						</select>
					</div>
					<div class="col-sm-3">
						<label for="visavalidupto"
							   class="labelclass">Visa Valid Upto</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="visavalidupto"
							   tabindex="38">
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-sm-12 form-group">
					<div class="col-sm-3">
						<label for="visasponsoringagency"
							   class="labelclass">Visa Sponsoring Agency</label>
					</div>
					<div class="col-sm-3">
						<select class="form-control" 
								id="visasponsoringagency"
								tabindex="39">
							<option selected disabled>--Select--</option>
						</select>
					</div>
					<div class="col-sm-3">
						<label for="residentialpermitno"
							   class="labelclass">Residential Permit No.</label>
					</div>
					<div class="col-sm-3">
						<input type="text"
							   class="form-control"
							   id="residentialpermitno"
							   tabindex="40">
					</div>
				</div>
			</div>
			
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-12">
        	<input type="submit" 
        		tabindex="41"
        		value="SAVE &amp; CONTINUE" 
        		class="btn btn-success btn-block btn-lg topMargin" 
        		style="margin-bottom: 10px"
        		ng-click="vm.submit()">
        </div>
	</div>


</form>

<script type="text/javascript">
	setActiveElementOnLeftNav("personalDetail");
</script>