<form name="personaldetailform" novalidate>
	<div class="panel panel-primary">
		<div class="panel-heading">
			<span style="font-family: Verdana; font-size: 15pt">
	        	<strong>Personal Details</strong>
	        </span>
		</div>
		<div class="panel panel-body">	
			<div class="row">
		       	<div class="well alert-danger">
		           <span><strong>NOTE:</strong> 
		           Please Enter the Name as per your SSC Marksheet / Leaving Certificate</span>
		           <br>
		           <div style="margin-top:10px">
		           	  <span style="color:red"><big>*</big></span><span>Indicates Required Fields</span>
		           </div>
		        </div>
			</div>
		
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-family:Verdana">Applicant's Name</span>
				</div>
				<div class="panel-body">							
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group"
								 ng-class="{'has-error':personaldetailform.lastname.$invalid &&
								 						personaldetailform.lastname.$dirty}">
								<label for="lastname">Last Name <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="lastname"
										name="lastname" 
										tabindex="1"
										ng-model="vm.personaldetail.lastName"
										style="text-transform:uppercase"
										required>
							</div>
							<span class="help-block has-error"
								  ng-show="personaldetailform.lastname.$dirty && personaldetailform.lastname.$error.required">
								Last Name is required !	  
							</span>
							
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								 ng-class="{'has-error':personaldetailform.firstname.$invalid &&
								 						personaldetailform.firstname.$dirty}">
								<label for="firstname">First Name <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="firstname"
										name="firstname" 
										tabindex="2"
										ng-model="vm.personaldetail.firstName"
										style="text-transform:uppercase"
										required>
							</div>
							<span class="help-block has-error"
								  ng-show="personaldetailform.firstname.$dirty && personaldetailform.firstname.$error.required">
								First Name is required !  
							</span>
						</div>
					</div>
					
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group"
								 ng-class="{'has-error':personaldetailform.middlename.$invalid &&
								 						personaldetailform.middlename.$dirty}">
								<label for="middlename">Middle Name <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="middlename"
										name="middlename" 
										tabindex="3"
										ng-model="vm.personaldetail.middleName"
										style="text-transform:uppercase"
										required>
							</div>
							<span class="help-block has-error"
								  ng-show="personaldetailform.middlename.$dirty && personaldetailform.middlename.$error.required">
								Middle Name is required	!  
							</span>
						</div>
						<div class="col-lg-6">
							<div class="form-group"
								 ng-class="{'has-error':personaldetailform.mothersname.$invalid &&
								 						personaldetailform.mothersname.$dirty}">
								<label for="mothersname">Mother's Name <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="mothersname"
										name="mothersname" 
										tabindex="4"
										ng-model="vm.personaldetail.mothersName"
										style="text-transform:uppercase"
										required>
							</div>
							<span class="help-block has-error"
								  ng-show="personaldetailform.mothersname.$dirty && personaldetailform.mothersname.$error.required">
								Mother's Name is required !	  
							</span>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label for="regionalname">Name in Regional Language<span style="color:red"><big>*</big></span></label>
								<br>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="regionalname"
										name="regionalname" 
										style="text-transform:uppercase"
										placeholder="Last Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="regionalname"
										name="regionalname" 
										style="text-transform:uppercase"
										placeholder="First Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="regionalname"
										name="regionalname" 
										style="text-transform:uppercase"
										placeholder="Middle Name"
										required>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<input type="checkbox"
								   id="namechange"
								   ng-model="vm.personaldetail.isPreviousName">
							<label for="namechange">Is your name changed after Passing Qualifying Examination?
								<span>[Tick if Yes]</span>
							</label>
						</div>
					</div>
					<div class="row" ng-show="vm.personaldetail.isPreviousName">
						<div class="col-lg-12">	
							<div class="form-group">
								<label for="previousname">Previous Full Name</label>
								<br>
								<div class="col-lg-4">
									<input type="text" 
										   class="form-control"
										   id="previousname" 
										   placeholder="First Name">
								</div>
								<div class="col-lg-4">
									<input type="text" 
										   class="form-control"
										   id="previousname" 
										   placeholder="Middle Name">
								</div>
								<div class="col-lg-4">
									<input type="text" 
										   class="form-control"
										   id="previousname" 
										   placeholder="Last Name">
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row" ng-show="vm.personaldetail.isPreviousName">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="reason">Reason for Name Change</label>
								<br>
								<select id="reason"
									class="form-control">
									<option>Willingly</option>
									<option>After Marriage</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-family:Verdana">Applicant's Details</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6 form-inline">
							<label>Gender <span style="color:red"><big>*</big></span></label>	
							<br>	
							<span class="form-control">
								<input type="radio" 
										name="gender" 
										id="genderMale"
										value="1"
										tabindex="9"
										ng-model="vm.personaldetail.gender"
										required>
								<label for="genderMale">Male</label>
							</span>
							<span class="form-control">
								<input type="radio" 
										name="gender" 
										id="genderFemale"
										value="2"
										tabindex="10"
										ng-model="vm.personaldetail.gender"
										required>
								<label for="genderFemale">Female</label>
							</span>
							<span class="form-control">
								<input type="radio" 
										name="gender" 
										id="transGender"
										value="3"
										tabindex="10"
										ng-model="vm.personaldetail.gender"
										required>
								<label for="transGender">Transgender</label>
							</span>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="dateofbirth">D.O.B. <span style="color:red"><big>*</big></span></label>
								<br>
								<div class="input-group">
									<input type="text" 
											class="form-control" 
											id="dateofbirth"  
											tabindex="5"
											ui-mask="dd/mm/yyyy"
											datepicker-popup="{{format}}"
											is-open="vm.opened"
											ng-model="vm.personaldetail.birthDate"
											datepicker-options="dateOptions"
											date-disabled="disabled(date, mode)" 
											ng-required="true" 
											close-text="Close"
											required>
									<span class="input-group-btn">
										<button class="btn btn-default"
												ng-click="vm.open($event)">
											<i class="glyphicon glyphicon-calendar"></i>
										</button>
									</span>
								</div>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="placeofbirth">Place of Birth <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="placeofbirth"
										tabindex="12"
										ng-model="vm.personaldetail.placeOfBirth"
										required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="bloodgroup">Blood Group</label>
								<select class="form-control" 
										id="bloodgroup" 
										tabindex="11"
										ng-model="vm.personaldetail.bloodGroup"
										ng-options="bloodgroup.bloodGroupId as bloodgroup.bloodGroupName for bloodgroup in vm.personaldetail.bloodGroups">
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="maritalstatus">Marital Status</label>
								<br>
								<select class="form-control" 
										id="maritalstatus"
										tabindex="14"
										ng-model="vm.personaldetail.maritalStatus">
									<option selected disabled>--Select--</option>
									<option>Married</option>
									<option>Unmarried</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-family:Verdana">Family and Occupation Details</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label for="fathersname">Father's Full Name<span style="color:red"><big>*</big></span></label>
								<br>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="fathersname"
										name="fathersname" 
										style="text-transform:uppercase"
										placeholder="Last Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="fathersname"
										name="fathersname" 
										style="text-transform:uppercase"
										placeholder="First Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="fathersname"
										name="fathersname" 
										style="text-transform:uppercase"
										placeholder="Middle Name"
										required>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
							<div class="form-group">
								<label for="maidenname">Mother's Maiden Name<span style="color:red"><big>*</big></span></label>
								<br>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="maidenname"
										name="maidenname" 
										style="text-transform:uppercase"
										placeholder="Last Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="maidenname"
										name="maidenname" 
										style="text-transform:uppercase"
										placeholder="First Name"
										required>
								</div>
								<div class="col-lg-4">
									<input type="text" 
										class="form-control" 
										id="maidenname"
										name="maidenname" 
										style="text-transform:uppercase"
										placeholder="Middle Name"
										required>
								</div>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="parentsemail">Parent's Email Id <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="parentsemail"
										tabindex="12"
										required>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="parentscontact">Parent's Contact No.</label>
								<input type="text" 
										class="form-control" 
										id="parentscontact"
										tabindex="12"
										required>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<input type="checkbox"
								   id="selfemployed">
							<label for="selfemployed">Are you Employed or Self-Employed?
								<span>[Tick if Yes]</span>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-4">
							<label for="experience">Experience</label>
						</div>
						<div class="form-group">
							<div class="col-lg-2">
								<input type="text"
									   class="form-control"
									   id="experience">
							</div>
							<div class="col-lg-2">
								<label for="experience">Year(s)</label>
							</div>
							<div class="col-lg-2">
								<input type="text"
									   class="form-control"
									   id="experience">
							</div>
							<div class="col-lg-2">
								<label for="experience">Months</label>
							</div>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="selfoccupation">Occupation</label>
								<br>
								<select class="form-control" 
										id="selfoccupation"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="selfincome">Your Annual Income</label>
								<br>
								<input type="text"
									   class="form-control"
									   id="selfincome">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<input type="checkbox"
								   id="leavewithoutpay">
							<label for="leavewithoutpay">Have you applied for leave without pay for the entire duration of the course?
								<span>[Tick if Yes]</span>
							</label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="parnetsoccupation">Occupation of Parent/Guardian</label>
								<br>
								<select class="form-control" 
										id="parnetsoccupation"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="parentsincome">Annual Income of Parent/Guardian</label>
								<br>
								<input type="text"
									   class="form-control"
									   id="parentsincome">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-12">
							<input type="checkbox"
								   id="ebc">
							<label for="ebc">Is Parent/Guardian from EBC (Economic Backward Class)?
								<span>[Tick if Yes]</span>
							</label>
						</div>
					</div>
					<br>
					<div class="row">
						<div class="col-lg-12">
					       	<div class="well alert-danger">
					           <span>
					           Students whose family income is below defined limit, fall under EBC category. 
					           The EBC certificate issued by the competent authority is mandatory.
					           </span>
					    	</div>
					    </div>
					</div>
					
				</div>
			</div>
			
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-family:Verdana">Nationality Details</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="citizenship">Country of Citizenship<span style="color:red"><big>*</big></span></label>
								<br>
								<select class="form-control" 
										id="citizenship"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="domiciled">Domicile of State <span style="color:red"><big>*</big></span></label>
								<br>
								<select class="form-control" 
										id="citizenship"
										tabindex="14"
										ng-model="vm.personaldetail.domiciledIn"
										required>
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
					</div>
					
				</div>
			</div>
			
			<div class="panel panel-default">
				<div class="panel-heading">
					<span style="font-family:Verdana">Caste Details</span>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="category">Category</label>
								<br>
								<select class="form-control" 
										id="category"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="caste">Caste <span style="color:red"><big>*</big></span></label>
								<br>
								<input type="text" 
										class="form-control" 
										id="caste"
										tabindex="12"
										required>
							</div>
						</div>
					</div>
				
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="religion">Religion</label>
								<br>
								<select class="form-control" 
										id="religion"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="mothertongue">Mother Tongue</label>
								<br>
								<select class="form-control" 
										id="mothertongue"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="form-group">
								<label for="socialreservation">Social Reservation</label>
								<br>
								<select class="form-control" 
										id="socialreservation"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="form-group">
								<label for="speciallyabled">Specially Abled</label>
								<br>
								<select class="form-control" 
										id="speciallyabled"
										tabindex="14">
									<option selected disabled>--Select--</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12 col-md-12">
		        	<input type="submit" 
		        		tabindex="21"
		        		value="SAVE &amp; CONTINUE" 
		        		class="btn btn-success btn-block btn-lg topMargin" 
		        		style="margin-bottom: 10px"
		        		ng-click="vm.submit()">
		        </div>
			</div>
		</div>
	</div>
</form>