<div class="heading">
	<h1>
       	User Details
    </h1>
</div>

<div class="well alert-danger">
	<span><strong>NOTE:</strong> 
	Please Enter the Name in Capital Letters and same as per your SSC Marksheet / Leaving Certificate</span>
</div>

<div class="panel panel-body">	
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="lastname">Last Name</label>
				<br>
				<input type="text" 
						class="uppercase form-control" 
						id="lastname" 
						tabindex="1"
						ng-model="vm.basicdetail.lastName">
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="firstname">First Name</label>
				<br>
				<input type="text" 
						class="form-control" 
						id="firstname" 
						tabindex="2"
						ng-model="vm.basicdetail.firstName">
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="dateofbirth">D.O.B.</label>
				<br>
				<div class="input-group">
					<input type="text" 
							class="form-control" 
							id="dateofbirth"  
							tabindex="3"
							datepicker-popup="dd MMM yyyy"
							is-open="vm.opened"
							ng-model="vm.basicdetail.birthDate">
					<span class="input-group-btn">
						<button class="btn btn-default"
								ng-click="vm.open($event)">
							<i class="glyphicon glyphicon-calendar"></i>
						</button>
					</span>
				</div>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="form-group">
				<label for="email">Email Address</label>
				<br>
				<input type="email" 
						class="form-control" 
						id="email" 
						tabindex="4"
						ng-model="vm.basicdetail.email">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-6">
			<div class="form-group">
				<label for="mobileno">Mobile No.</label>
				<br>
				<input type="text" 
						class="form-control" 
						id="mobileno"
						tabindex="5" 
						ng-model="vm.basicdetail.mobileNo">
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12 col-md-12">
        	<input type="submit" 
        		tabindex="6"
        		value="SAVE &amp; CONTINUE" 
        		class="btn btn-success btn-block btn-lg topMargin" 
        		style="margin-bottom: 10px"
        		ng-click="vm.submit()">
        </div>
	</div>
</div>