<div class="panel panel-default">
	<div class="panel-body">
		<div class="row no-margin">
			<div id="submenu" class="col-sm-3">
				<ul>
					<li ng-click="vm.showGroupBox('personal')" id="personal" class="active"><a><span class="glyphicon glyphicon-user"></span> Personal Details</a></li>
					<li ng-click="vm.showGroupBox('contact')" id="contact"><a><span class="glyphicon glyphicon-envelope"></span> Contact Details</a></li>
					<li ng-click="vm.showGroupBox('nationality')" id="nationality"><a><span class="glyphicon glyphicon-globe"></span> Nationality Details</a></li>
					<li ng-click="vm.showGroupBox('occupation')" id="occupation"><a><span class="glyphicon glyphicon-wrench"></span> Occupation Details</a></li>
					<li ng-click="vm.showGroupBox('reservation')" id="reservation"><a><span class="glyphicon glyphicon-lock"></span> Reservation Details</a></li>
				</ul>
			</div>
			
			<div id="profileviewcontent" class="col-sm-9 no-padding">
				<form name="personaldetailform" novalidate>
					<div class="group" ng-show="vm.showGroup.personalDetail">
						<div class=" groupHeadingStyle"><span class="glyphicon glyphicon-user"></span> Personal Details</div>
						<div class="group-body">
							<div class="row">
								<div class="col-sm-9 form-group applicantDetailList">
									<div class="row">
										<div class="col-sm-4 dataSpacing">
											<label class="group-label">Full Name</label>
										</div>
										<div class="col-sm-8 dataSpacing">
										 	<div class="formData">{{vm.applicantdetail.lastName}} {{vm.applicantdetail.firstName}} {{vm.applicantdetail.middleName}}</div>
										</div>
									</div>
									
									<!-- <div class="row">
										<div class="col-sm-4 dataSpacing">
											<label class="group-label">Full Name in Regional Language</label>
										</div>
										<div class="col-sm-8 dataSpacing">
										   <div class="formData">{{vm.applicantdetail.lastName}} {{vm.applicantdetail.firstName}} {{vm.applicantdetail.middleName}}</div>
										</div>
									</div> -->
									
									<div class="row"><hr></div>
									
									<div class="row">
										<div class="col-sm-4 dataSpacing">
											<label class="group-label">Father's Full Name</label>
										</div>
										<div class="col-sm-8 dataSpacing">
											   <div class="formData">{{vm.applicantdetail.fathersLastName}} {{vm.applicantdetail.fathersFirstName}} {{vm.applicantdetail.fathersMiddleName}}</div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-4 dataSpacing">
											<label for="mothersname"
											   class="group-label">Mother's Full Name</label>
										</div>
										 <div class="col-sm-8 dataSpacing">
											   <div class="formData">{{vm.applicantdetail.mothersLastName}} {{vm.applicantdetail.mothersFirstName}} {{vm.applicantdetail.mothersMiddleName}}</div>
										</div>
									</div>
									
									<div class="row"><hr></div>
									
									<div class="row">
										<div class="col-sm-3 dataSpacing">
											<label for="gender" class="group-label">Gender</label>
											<div class="formData">{{vm.applicantdetail.gender}}</div>
										</div>
										<div class="col-sm-3 dataSpacing">
											<label for="maritalstatus" class="group-label">Marital Status</label>
											<div class="formData">{{vm.applicantdetail.maritalStatus}}</div>
										</div>
										<div class="col-sm-3 dataSpacing">
											<label for="bloodgroup" class="group-label">Blood Group</label>
										    <div class="formData">{{vm.applicantdetail.bloodGroup}}</div>
										</div>
										<div class="col-sm-3 dataSpacing">
											<label for="dateofbirth" class="group-label">Date of Birth</label>
									   		<div class="formData">{{vm.applicantdetail.birthDate}}</div>
										</div>
									</div>
									
									<div class="row"><hr></div>
									
									<div class="row">
										<div class="col-sm-3">
											<label for="placeofbirth"
												   class="group-label">Place of Birth</label>
										   	<div class="formData">{{vm.applicantdetail.placeOfBirth}}</div>
										</div>
										<div class="col-sm-3">
											<label for="aadharno"
												   class="group-label">Aadhar No.</label>
										   	<div class="formData">{{vm.applicantdetail.adharNo}}</div>
										</div>
										<div class="col-sm-6">
											<label for="educationgap"
												   class="group-label">Education Gap (in yrs)</label>
										   	<div class="formData">{{vm.applicantdetail.educationGapInYrs}}</div>
										</div>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="row">
										<div  class="col-sm-12 text-center"  style=" padding-bottom:10px;">
											<label class="group-label">Photograph</label>
											<div style="width:100px; height:100px;background-color:#ccc; margin:0 auto"></div>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12 text-center"  style="padding-bottom:10px;">
											<label class="group-label">Signature</label>
											<div style="width:100px; height:100px;background-color:#ccc; margin:0 auto"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="group" ng-show="vm.showGroup.contactDetail">
						<div class="groupHeadingStyle"><span class="glyphicon glyphicon-envelope"></span> Contact Details</div>
							<div class="group-body">
								<div class="row">
									<div class="col-sm-6">
										<label class="group-label">Mobile Number</label>
										<div class="formData">{{vm.applicantdetail.mobileNo}}</div>
									</div>
								
									<div class="col-sm-6">
										<label for="email"  class="group-label">Email Address</label>
										<div class="formData">{{vm.applicantdetail.email}}</div>
									</div>
								</div>	
								
								<div class="row"><hr></div>
								
								<div class="row">
									<div class="col-sm-6 dataPadding">
											<label for="parentsemail"
									   class="group-label">Parent's Email Id</label>
									   <div class="formData">{{vm.applicantdetail.parentsEmailId}}</div>
									</div>
									<div class="col-sm-6">
											<label for="parentscontact"
									   class="group-label">Parent's Contact No.</label>
									   		<div class="formData">{{vm.applicantdetail.parentsContactNo}}</div>
									</div>
								</div>
								<div class="row"><hr></div>
								<div class="row">
									<div class="col-sm-6">
											<label class="group-label">Correspondence Address</label>
											<div class="formData">{{vm.applicantdetail.flatNo}}, {{vm.applicantdetail.area}}</div>
											<div class="formData">{{vm.applicantdetail.street}}, {{vm.applicantdetail.landmark}}</div>
											<div class="formData">{{vm.applicantdetail.city}}, </div>
											<div class="formData"> District : {{vm.applicantdetail.district}}</div>
											<div class="formData">{{vm.applicantdetail.state.stateName}}, {{vm.applicantdetail.country.countryName}}</div>
											<div class="formData">{{vm.applicantdetail.pinCode}}</div>
											<div class="formData">{{vm.applicantdetail.locationarea}}</div>
									</div>
									<div class="col-sm-6">
										<label for="email"  class="group-label">Permanent Address</label>
										<div class="formData">{{vm.applicantdetail.flatNoPermanent}}, {{vm.applicantdetail.areaPermanent}}</div>
												<div class="formData">{{vm.applicantdetail.streetPermanent}}, {{vm.applicantdetail.landmarkPermanent}}</div>
												<div class="formData">{{vm.applicantdetail.cityPermanent}},</div>
												<div class="formData"> District : {{vm.applicantdetail.districtPermanent}}</div>
												<div class="formData">{{vm.applicantdetail.statePermanent.stateName}}, {{vm.applicantdetail.countryPermanent.countryName}}</div>
												<div class="formData">{{vm.applicantdetail.pinCodePermanent}}</div>
												<div class="formData">{{vm.applicantdetail.locationareaPermanent}}</div>
										</div>
									</div>	
				 				</div>
							</div>
					<div class="group" ng-show="vm.showGroup.nationalityDetail">
						<div class="groupHeadingStyle"><span class="glyphicon glyphicon-globe"></span> Nationality Details</div>
						<div class="group-body">
							<div ng-show="vm.indianCitizenship">
								<div class="row">
									<div class="col-sm-12 form-group">
										<div class="col-sm-6">
											<label for="citizenship"
												   class="group-label">Country of Citizenship</label>
												   <div class="formData">{{vm.applicantdetail.countryOfCitizenship.countryName}}</div>
										</div>
										<div class="col-sm-6">
											<label for="domiciled"
												   class="group-label">Domicile of State</label>
												   <div class="formData">{{vm.applicantdetail.domiciledIn.stateName}}</div>
										</div>
									</div>
								</div>
							</div>
					
							<div ng-show="!vm.indianCitizenship">
								<div class="row">
									<div class="col-sm-12 form-group">
										<div class="col-sm-6">
											<label for="citizenship"
												   class="group-label">Country of Citizenship</label>
												   <div class="formData">{{vm.applicantdetail.countryOfCitizenship.countryName}}</div>
										</div>
									</div>
									<div class="col-sm-12 form-group">
										<div class="col-sm-3">
											<label for="passportno"
												   class="group-label">Passport No.</label>
												   <div class="formData">{{vm.applicantdetail.passportNo}}</div>
										</div>
										<div class="col-sm-3">
											<label for="placeofissue"
												   class="group-label">Place of Issue of Passport</label>
												   <div class="formData">{{vm.applicantdetail.passportIssuePlace}}</div>
										</div>
										<div class="col-sm-3">
											<label for="dateofissue"
												   class="group-label">Date of Issue of Passport</label>
												   <div class="formData">{{vm.applicantdetail.passportIssueDate}}</div>
										</div>	
										<div class="col-sm-3">
											<label for="dateofexpiry"
												   class="group-label">Date of Expiry of Passport</label>
												   <div class="formData">{{vm.applicantdetail.passportExpiryDate}}</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<div class="col-sm-3">
											<label for="issuingauthority"
												   class="group-label">Passport Issuing Authority</label>
												   <div class="formData">{{vm.applicantdetail.passportIssuingAuthority}}</div>
										</div>
										<div class="col-sm-3">
											<label for="issuingcountry"
												   class="group-label">Passport Issuing Country</label>
												   <div class="formData">{{vm.personalDetailTemp.passportIssuingCountryId}}</div>
										</div>
										<div class="col-sm-3">
											<label for="visatype"
												   class="group-label">Visa Type</label>
												   <div class="formData">{{vm.applicantdetail.visaType}}</div>
										</div>
										<div class="col-sm-3">
											<label for="visavalidupto"
												   class="group-label">Visa Valid Upto</label>
													<div class="formData">{{vm.applicantdetail.visaValidUpto}}</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<div class="col-sm-3">
											<label for="visasponsoringagency"
												   class="group-label">Visa Sponsoring Agency</label>
												   <div class="formData">{{vm.applicantdetail.visaSponsoringAgency}}</div>
										</div>
										<div class="col-sm-3">
											<label for="residentialpermitno"
												   class="group-label">Residential Permit No.</label>
												   <div class="formData">{{vm.applicantdetail.residentialPermitNo}}</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="group" ng-show="vm.showGroup.occupationDetail">
						<div class="groupHeadingStyle"><span class="glyphicon glyphicon-wrench"></span> Occupation Details</div>
						<div class="group-body">
							<div class="row">
								<div class="col-sm-12 form-group">
									<label class="group-label displayInline">Employed or Self-Employed :</label>
									<div class="displayInline formData" ng-show="vm.applicantdetail.isSelfEmployed">Yes</div>
									<div class="displayInline formData" ng-show="!vm.applicantdetail.isSelfEmployed">No</div>
								</div>
							</div>
					
							<div ng-show="vm.applicantdetail.isSelfEmployed">
								<div class="row">
									<div class="col-sm-12 form-group">
											<label for="experience" class="group-label displayInline">Experience : </label>
											<div class="formData displayInline">{{vm.applicantdetail.experienceYrs}}
											<label for="experience" class="displayInline"> Year(s) </label>
											</div>
											<div class="formData displayInline">{{vm.applicantdetail.experienceMonths}} 
											<label for="experience" class="displayInline"> Months </label>
											</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-6 form-group">
										<label for="selfoccupation" class="group-label displayInline">Occupation : </label>
										<div class="formData displayInline"> {{vm.applicantdetail.occupation}}</div>
									</div>
									<div class="col-sm-6 form-group">
										<label for="selfincome"
											   class="group-label displayInline">Your Annual Income : </label>
											   <div class="formData displayInline">Rs. {{vm.applicantdetail.selfAnnualIncome}}</div>
									</div>
								</div>
								<div class="row">
									<div class="col-sm-12 form-group">
										<label for="leavewithoutpay" class="group-label displayInline">Applied for leave without pay for the entire duration of the course : 
											<div class="formData displayInline" ng-show="vm.applicantdetail.isLeaveWithoutPay">Yes</div>
											<div class="formData displayInline" ng-show="!vm.applicantdetail.isLeaveWithoutPay">No</div>
										</label>
									</div>
								</div>
							</div>
						
					<div ng-show="!vm.applicantdetail.isSelfEmployed">
						<div class="row">
							<div class="col-sm-6 form-group">
									<label for="parentsoccupation" class="group-label displayInline">Occupation of Guardian : </label>
									<div class="formData displayInline">{{vm.applicantdetail.occupation}}</div>
							</div>
							<div class="col-sm-6 form-group">
									<label for="parentsincome" class="group-label">Annual Income of Guardian</label>
									<div class="formData displayInline">Rs. {{vm.applicantdetail.guardianAnnualIncome}}</div>
							</div>
						</div>
					</div>
						
					<div class="row">
						<div class="col-sm-12 form-group">
							<label for="ebc" class="group-label displayInline">Eligible for EBC (Economic Backward Class) : </label>
								<div class="formData displayInline" ng-show="vm.applicantdetail.isEligibleForEBC">Yes</div>
								<div class="formData displayInline" ng-show="!vm.applicantdetail.isEligibleForEBC">No</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
					       	<div class="well alert-danger">
					           <span>
					           Students whose family income is below defined limit, fall under EBC category. 
					           The EBC certificate issued by the competent authority is mandatory.
					           </span>
					    	</div>
					    </div>
					</div>
				</div>
			</div>
					<div class="group" ng-show="vm.showGroup.reservationDetail">
						<div class="groupHeadingStyle"><span class="glyphicon glyphicon-lock"></span> Reservation Details</div>
						<div class="group-body">
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-3">
										<label for="category"
											   class="group-label">Category</label>
											   <div class="formData">{{vm.applicantdetail.category}}</div>
									</div>
									<div class="col-sm-3">
										<label for="religion"
											   class="group-label">Religion</label>
											   <div class="formData">{{vm.applicantdetail.religion}}</div>
									</div>
									<div class="col-sm-3">
										<label for="caste"
											   class="group-label">Caste</label>
											   <div class="formData">{{vm.applicantdetail.caste}}</div>
									</div>
									<div class="col-sm-3">
										<label for="mothertongue"
											   class="group-label">Mother Tongue</label>
											   <div class="formData">{{vm.applicantdetail.motherTongue}}</div>
									</div>
								</div>
							</div>
							<div class="row"><hr></div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<label for="speciallyabled"
										   class="col-sm-3 group-label">Specially Abled</label>
								  	<div class="col-sm-6 formData" ng-if="vm.applicantdetail.speciallyAbled == null">Not Applicable</div>
								  	<div class="col-sm-6 formData" ng-if="vm.applicantdetail.speciallyAbled != null">{{vm.applicantdetail.speciallyAbled}}</div>
								</div>
							</div>
							<div class="row"><hr></div>
							<div class="row">
								<div class="col-sm-12 form-group">
									<div class="col-sm-3">
										<label for="socialreservation"
											   class="group-label">Social Reservation</label>
									</div>
									
									<div class="col-sm-9 formData">
										<pre class="ng-binding">{{vm.occupationandreservation.selectedSocialReservations|json}}</pre>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>




<script type="text/javascript">
	//To reload selectpicker on page load
	$(".selectpicker").selectpicker("refresh");
</script>